

$chattoplevel-bg: #0A0A0A; //dark skin #0A0A0A light skin e9eef0
$chat-item-border: #000; //light skin 808080
$chat-item-color: #c0c0c0; //light skin #000

@media (min-width: 0px) {
#chattoplevel {
  background-color: $chattoplevel-bg;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
  float: left;
}
}

@media (min-width: 750px) {
#chattoplevel {
  background-color: $chattoplevel-bg;
  position: relative;
  height: 100%;
  width: 25%;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
  float: left;
}
}


#chatcontainertop > div {
  height: 100%;
  width: 100%;

}

#chatcontainertop {
  height: 100%;
  width: 100%;
  bottom: 0;
  margin-right: 0;
  overflow: hidden;

}

#chatcontainer {
  height: 100%;
  padding-bottom: 7%;
  width: 100%;
  bottom: -25px;
  overflow: hidden;

}

#chatscroll {
  height: 92%; //23
  overflow-x: hidden;
  overflow-y: auto;
}

#chatbox {
  width: 100%;
  bottom: 0;
  height: 100%;
  margin: 0;
  padding-left: 0;
}

.chat-line-0 {
  background-color: #121317; //light skin e9eef0
  padding: 10px;
}

.chat-line-1 {
  background-color: #0A0A0A; //light skin cbd6dc
  padding: 10px;
}

.chat-msg {
  vertical-align: bottom;
  width: 85%;
  max-width: 85%;
  word-wrap: break-word;
}

.chat-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $chat-item-border;
  color: $chat-item-color;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding-bottom: 3px;
  padding-left: 5px;
  width: 100%;
  display: flex;

}

.chat-username {
  color: #0040ff;
  font-weight: bolder;
  font-size: 16px;
  cursor:pointer;
}

.chat-text {
  font-family: 'Open Sans', sans-serif;
  height: 1vw;
  width: 100%;
  position: relative;
  font-size: 16px;
}

.chat-avatar {
  padding-right: 5px;
  padding-bottom: 5px;
  cursor:pointer;
}

#avatarimg {
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

#sendbox {
  position: absolute;
  width: 98.5%;
  left: .75%;

  position: absolute;
  bottom: .75vh;
}

::-webkit-scrollbar {
  display: none;
}

input#chatinput.form-control {
  height: 5vh;
  font-size: 1.65vh;
  color: black;
}
