$chattoplevel-bg: #0A0A0A; //dark skin #0A0A0A light skin e9eef0
$chat-item-border: #000; //light skin 808080
$chat-item-color: #c0c0c0; //light skin #000

@media (min-width: 0px) {
    #chattoplevel {
        background-color: $chattoplevel-bg;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding-right: 0;
        padding-left: 0;
        float: left;
    }
    .navbar-nav {
        margin: 0;
    }
}

@media (min-width: 750px) {
    #chattoplevel {
        background-color: $chattoplevel-bg;
        position: relative;
        height: 100%;
        width: 25%;
        overflow: hidden;
        padding-right: 0;
        padding-left: 0;
        float: left;
    }
}

#chatcontainertop>div {
    height: 100%;
    width: 100%;
}

#chatcontainertop {
    height: 100%;
    width: 100%;
    bottom: 0;
    margin-right: 0;
    overflow: hidden;
}

#chatcontainer {
    height: 100%;
    padding-bottom: 7%;
    width: 100%;
    bottom: -25px;
    overflow: hidden;
}

#chatscroll::-webkit-scrollbar {
    width: 1em;
}

#chatscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#chatscroll::-webkit-scrollbar-thumb {
    background-color: #343642;
    outline: 1px solid slategrey;
}

#chatbox {
    width: 100%;
    bottom: 0;
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.chat-line-0 {
    background-color: rgba(18, 0, 41, 0.6); //light skin e9eef0
    padding: 10px;
}

.chat-line-1 {
    background-color: rgba(28, 0, 51, 0.6); //light skin cbd6dc
    padding: 10px;
}

.chat-msg {
    vertical-align: bottom;
    width: 90%;
    max-width: 90%;
    word-wrap: break-word;
}

.chat-item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $chat-item-border;
    color: $chat-item-color;
    list-style-position: inside;
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 2px 3px 2px 0 rgba(42, 0, 42, 0.8);
    padding-bottom: 3px;
    padding-left: 5px;
    width: 98%;
    display: flex;
    border-radius: 8px;
}

.chat-username {
    font-weight: bolder;
    font-size: 1.5vh;
    cursor: pointer;
}

.chat-username:hover {
    text-decoration: underline;
}

.username-bot {
    color: rgb(199,102,76);
}
.username-bot:after {
	color: rgb(29,131,211);
	content: " (Bot)";
	font-size: 1.1vh;
}

.userflair {
	color: rgb(128, 128, 128);
	font-size: 10px;
}

.patreon {
    width: 18px;
    height: 18px;
    color: gold;
}

.nopatreon {
	display: none;
}

.username-admin {
    color: #0099ff;
}

.username-admin:after {
    color: #0099ff;
    content: " (Admin)";
    font-size: 1.1vh;
}

.username-dev {
    color: #0055aa;
}

.username-dev:after {
    color: #0055aa;
    content: " (Developer)";
    font-size: 1.1vh;
}

.username-mod {
    color: #00b300;
}

.username-mod:after {
    color: #00b300;
    content: " (Mod)";
    font-size: 1.1vh;
}

.username-floridaman {
    color: #00b300;
}

.username-floridaman:after {
    color: #b507ff;
    content: " (Florida Man)";
    font-size: 1.1vh;
}

.username-seniormod {
    color: #00b300;
}

.username-seniormod:after {
    color: #b507ff;
    content: " (Senior Mod)";
    font-size: 1.1vh;
}

.username-vip {
    color: #aa6aa4;
}

.username-vip:after {
    color: #faeaf4;
    content: " (VIP)";
    font-size: 1.1vh;
}

.username-frient {
    color: #ddc978;
}

.username-frient:after {
    color: #34b7aa;
    content: " (Frient)";
    font-size: 1.1vh;
}

.username-user {
    color: #026455;
}
.chat-text {
    height: 1vw;
    width: 100%;
    position: relative;
    font-size: 1.6vh;
}
.chat-text div {
	padding-bottom: 5px;
}

.chat-avatar {
    padding-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.avatarimg {
    border-radius: 5px;
    height: 45px;
    width: 45px;
    background-color: rgba(0,0,0,0.2);
}

.mentions-container {
    background-color: lightsteelblue;
    position: absolute;
    bottom: 6.5%;
    left: .75%;
    color: black;
    padding: 1% 2%;
    border-radius: 5%;
}

.mention-item:hover {
    text-decoration: underline;
}

.mention-item {
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

#chatscroll {
    height: 92%; //23
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1px;
}

#sendbox {
    position: absolute;
    height: 5%;
    max-height: 45px;
    //width: 98.5%;
    left: .75%;
    margin-top: 1px;
    padding-top: 1px; //rem position: absolute;
    bottom: .75vh;
}

.tr-form-group {
    width: 100% !important;
}

.chatbar {
    height: 8%;
}

.chatboxform {
    height: 100%;
}

#sendbox_test {
    height: 75%;
    max-height: 55px;
    font-size: 1.65vh;
    color: black;
    margin-top: 1px;
    padding-right: 0;
}

#chatinput {
    height: 100%;
    width: 100%;
}

#chat-counter_test {
    width: auto;
    height: 100%;
}

.blazebot-msg {
    background-color: rgba(18, 0, 41, 0.3);
    color: #bbb;
}

.blazebot-msg a:link {
    color: #87c300;
}

.blazebot-msg a:visited {
    color: #87c300;
}

.blazebot-msg a:hover {
    color: #97d300;
}

.blazebot-msg a:active {
    color: #87c300;
}

.blazebot-hide {
    display:none;
}

.chat-timestamp {
    float: right;
    font-size: 10px;
}

.inline-image {
    max-width: 100%;
    max-height: 200px;
}

#chat-counter {
    position: absolute;
    z-index: 1;
    margin-left: 21.9vw;
    margin-top: 2vh;
}

.sendbox-locked {
    height: 6%;
    width: 100%;
}

.sendbox-loggedout-msg {
    position: relative;
    top: 1vh;
    left: 4vw;
    font-size: 2.5vh;
}

.sendbox-locked-msg {
    position: relative;
    left: 5vw;
    font-size: 2vh;
}

.sendbox-locked-msg2 {
    position: relative;
    float: left;
    left: 5.85vw;
    font-size: 2vh;
}

.sendbox-locked-timer {
    color: #77b300;
}

img[alt="previewimg"] {
    width: 130px;
    float: right;
}

img[alt="previewimgsm"] {
    height: 130px;
    float: right;
}

img[alt="previewimgxs"] {
    height: 65px;
    float: right;
    margin-top: -21px;
}

img[alt="previewvideo"] {
    height: 100px;
    width: 130px;
    float: right;
}

img[alt="previewavatar"] {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: -1vh;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}

img[alt="tenorgif"] {
    min-width: 4.2vw;
    max-width: 95%;
    max-height: 42vh;
}

a[title="previewlink"] {
    color: white !important;
    font-weight: bold;
}

div>blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.joinalert {
    font-size: 1.65vh; //rem font-style: bold; mismatched prop
}

.sidebar-song-title {
    font-size: 1.65vh;
    color: #0066dd; //rem font-style: bold; mismatched prop
}

.songstats-likes {
    padding-left: 20px;
    font-size: 1.65vh;
    border-left: 5px solid #282828;
    margin-bottom: 0;
}

.songstats-dislikes {
    padding-left: 20px;
    font-size: 1.65vh;
    border-left: 5px solid #282828;
    margin-bottom: 0;
}

.songstats-grabs {
    padding-left: 20px;
    font-size: 1.65vh;
    border-left: 5px solid #282828;
    margin-bottom: 0;
}

.chat-bold {
    font-weight: bold;
}

.chat-italic {
    font-style: italic;
}
.emojilarge {
    height: 48px;
    width: 48px;
    font-size: inherit;
    background-size: cover;
    top: -3px;
    position: relative;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.emoji {
    height: 24px;
    width: 24px;
    font-size: inherit;
    background-size: 24px;
    top: -3px;
    position: relative;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-indent: -9999em;
}

.emoji-weed {
    background-image: url("../img/marijuana.png");
}
.emoji-plug {
	background-image: url("https://cdn.jsdelivr.net/emojione/assets/4.5/png/128/1f4a9.png");
}
.emoji-toke {
    background-image: url("../img/193.png");
}
.emoji-joint {
	background-image: url("../img/j.png");
}
.emoji-ferris {
	background-image: url("../img/ferris.png");
}
.emoji-one {
	background-image: url("../img/1.png");
}
.emoji-two {
	background-image: url("../img/2.png");
}
.emoji-three {
	background-image: url("../img/3.png");
}
.emoji-four {
	background-image: url("../img/4.png");
}
.emoji-five {
	background-image: url("../img/5.png");
}
.emoji-six {
	background-image: url("../img/6.png");
}
.emoji-seven {
	background-image: url("../img/7.png");
}
.emoji-eight {
	background-image: url("../img/8.png");
}
.emoji-nine {
	background-image: url("../img/9.png");
}
.emoji-highaf {
	background-image: url("../img/highaf.png");
}
.emoji-owo {
	background-image: url("../img/owo.png");
}
.emoji-rolling {
	background-image: url("../img/rolling.png");
}
.emoji-dude {
	background-image: url("../img/dude.png");
}
.emoji-bong {
	background-image: url("../img/bong.png");
	background-size: cover;
}
.emoji-neat {
	background-image: url("../img/neat.png");
}
.emoji-420 {
	background-image: url("../img/420.png");
}
.emoji-ten {
	background-image: url("../img/10.png");
}


