div.leaderboard-list {
    width: 100%;
    display:table;
}
div.leaderboard-row {
    display: table-row;
    font-size: 1.2em;
    width:100%;
    vertical-align: middle;
    padding-bottom: 5px;
}
span.leaderboard-cell-rank {
    display: table-cell;
    font-size: 24px;
    padding-right: 1.1em;
    vertical-align: middle;
}
span.leaderboard-cell-avatar {
    display: table-cell;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    vertical-align: middle;
}
span.leaderboard-cell-username {
    display:table-cell;
    vertical-align: middle;
}
span.leaderboard-cell-songtitle {
    display:table-cell;
    vertical-align: middle;
}
span.leaderboard-cell-songthumb > img{
    display:table-cell;
    height: 100px;
    float: right;
    vertical-align: middle;
    
}