
html,
body {
  background-image: url("../img/loading_screen-01.svg");
  background-size: cover;
  height: 100%;
  overflow-y: hidden;
  color: #77b300 !important;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}
h4 {
	font-size: 16px;
	min-height: 35px;
}
.modal-backdrop.fade {
	opacity: .5;
}
.modal-dialog {
	margin-top: 155px;
}
.fade {
	opacity: .99;
}
.toast-box {
	z-index: 99999;
}
.april-fools {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.modal-content {
	background-color: #202020;
	color: #888;
}

.btn-primary {
	background-color: #77b300;
}
.btn-default {
	background-color: #77b300;
}
.navbar, .navbar-default {
	border: none;
}
.btn, .btn-primary {
	border-color:#87a310;
}
.dropdown-menu {
	background-color: #000;
	color: #77b300;
	margin-right: 10px;
}
.dropdown-menu>li>a {
	color: #87c300;
}
.placeholder-txt {
  text-align: center;
  vertical-align: middle;
}

#app {
  height: 100%;
}

#app > div {
  height: 100%;
  width: 100%;
}

#app:-webkit-any-link {
    cursor: auto;
}

.main-load {
  background-image: url("../img/loading_screen-01.svgz");
  background-size: cover;
  transition: all 2s !important;
  transition-timing-function: ease-in-out !important;
  transition-property: all;
  transition-delay: 2s;
  height: 100%;
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
}

.container-fluid {
  transition: ease-in-out !important;
  transition-timing-function: ease-in-out !important;
  transition-property: all;
  padding-bottom: -23px;
}

.main-loadingcard {
  width: 400px;
  display: inline-block;
	height: 200px;
  background-color: #333;
  background-image: url('../img/favicon.png');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 28px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  border-radius: 20px;
  display: table;
  padding: 0px;
}

.main-center {
  background-image: url("../img/loading_screen-01.svgz");
  background-size: cover;
	display: inline-block;
  text-align: center;
  position:relative;
  vertical-align: middle;
  width: 100%;
}

.main-vcenter {
  background-image: url("../img/loading_screen-01.svgz");
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  background-color: rgba(16, 13, 27, 0.85);
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.main-loading {
  background-image: url("../img/loading_screen-01.svgz");
  background-size: cover;
  position: relative;
  left:50%;
  right:50%;
  margin-top:20%;
}

.loadingscreenwheel {
  margin-top:1vh;
}

/* Components Container */

.container-fluid
{
  background-image: url("../img/loading_screen-01.svg");
  background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row
{
    height: 100%;
    width: 100%;
    margin: 0;
}

.sweet-alert button.cancel {
  background-color: #686868 !important;
}

.sweet-alert button {
  background-color: #17a8eb !important;
}

.sweet-alert input {
  background-color: #c1c1c1;
  color: black;
}

$mqIterations: 19;
@mixin fontResize($iterations) {
   $i: 1;
   @while $i <= $iterations {
      @media all and (min-width: 100px * $i) {
         .grab-button { font-size:0.06em * $i; }
	 .volume-slider { font-size:0.06em * $i; }
         .like-button { font-size:0.06em * $i; }
         .dislike-button { font-size:0.06em * $i; } 
	 .waitlist { font-size:0.1em * $i; } }
      $i: $i + 1;
   }
}
@include fontResize($mqIterations);
