
#playlists-container {
  width: 100%;
  float: right;
  margin-top: 6px;
}

.media-time {
  float:right;
}
.current-playlist-name {
	color: #77b300 !important;
}
.current-selected-media {
	color: #77b300 !important;
}
#playlists-panel {
  position:absolute;
  width: 100%;
  bottom: 10%;
  overflow: hidden;
}

#playlist-metadata::-webkit-scrollbar {
  display: none;
}

#currentsong-metadata::-webkit-scrollbar {
  display:none;
}

.playlist-shuffle-btn {
  padding-top: 1.25%;
  padding-right:1%;
  float:right;
  color: #77b300;
  cursor:pointer;
  z-index:2
}

.playlists-panel-closed {
  height: 0;
  overflow: hidden;
  transition: all 0.15s ease-in 50ms;
  -webkit-transition: all 0.15s ease-in 50ms;
  -moz-transition: all 0.15s ease-in 50ms;
  -o-transition: all 0.15s ease-in 50ms;
  background-color: $trees-bg;
}

.playlists-panel-open {
  height: 90%;
  background-color: $trees-bg;
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-width:thin;
  border-color: black;
  transition: all 0.15s ease-in 50ms;
  -webkit-transition: all 0.15s ease-in 50ms;
  -moz-transition: all 0.15s ease-in 50ms;
  -o-transition: all 0.15s ease-in 50ms;
}

.pl-thumbnail {
  width: 5%;
}

.pl-time {
  padding-right: 2%;
  font-size: 12px;
}

.pl-channel {
  color: gray;
}

.add-to-playlist-btn {
  float:right;
  cursor: pointer;
  padding-right:5px;
}

#playlists-panel-display {
  height: 100%;
}

#playlist-ul {
  height: 90%;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 0;
  overflow-y: auto;
}

#playlists-panel-display {
  li {
    list-style-position: inside;
    list-style-type: none;
    padding: 10px;
    color: #77b300;
  }
}

#playlist-ul::-webkit-scrollbar {
    width: 1em;
}

#playlist-ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#playlist-ul::-webkit-scrollbar-thumb {
  background-color: #343642;
  outline: 1px solid slategrey;
}

#playlist-search-box {
  width: 30vw;
  height: 45px;
  margin-right: .5vw;
  float: left;
  font-size: 1.25em;
}

#playlist-btn {
   width: 15vw;
}

.dropdown-menu {
  width: auto;
}

.dropdown-menu>li>a {
  float:left;
  width: 100%;
  overflow-x: hidden;
}

#pl-dd-menu>li>a {
  width: 87%;
}

.remove-from-playlist-btn {
  float: right;
  cursor: pointer;
}

.pl-move-to-top {
  float: right;
  cursor: pointer;
  margin-right: 1%;
}

#playlist-dropdown {
  background-color: #579300;
  border-color: #609606;
  //padding: 2px; Bacchus request March'20
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 2.25px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  font-size: 1.5vw;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#pl-carat {
  margin-left: 4%;
  margin-top: 5%;
}

#pl-dd-menu {
  font-size: 110%;
  padding-top: 0;
  border-top-width: 0;
  margin-top: 0;
  max-height:50vh;
  overflow-y:auto;
}

#pl-dd-menu::-webkit-scrollbar {
  width:1em;
}

#pl-dd-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#pl-dd-menu::-webkit-scrollbar-thumb {
  background-color:#343642;
  outline:1px solid slategrey;
}

#playlists-panel-head {
  width: 100%;
}

.playlist-item-1 {
  background-color: #121317;
}

.playlist-item-2 {
  background-color: #0A0A0A;
}

.pl-media-title {
  padding-left: 3%;
  padding-right: 2%;
  font-size: 125%;
}

.pl-timestamp{
  font-size: 125%;
}

#playlists-bar {
  width: 100%;
  color: #77b300;
  height:100%;
  background-color:#0c0c0e;
  // border-top-style: solid;
  // border-style:solid;
  // border-color: #17171c;
  float: left;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 20s ease-in-out infinite;
  // text-align: right;
}

.current-selected-media, .current-playing-media {
  display: inline-block;
  float:left;
  color: #77b300;
}

.current-selected-media:hover, .current-playing-media:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0%   { transform: translate(100%); }
    100% { transform: translate(-101%); }
}

#playlist-metadata {
  height: 100%;
  max-height: 9vh;
  width: 19em;
  border-right: solid;
  color: #77b300 !important;
  border-top:solid;
  border-bottom:solid;
  border-color: #2d2f39;
  font-size: 1.15vw;
  line-height: 2vw;
  padding: 5px;
  overflow-x: hidden;
}

#playlist-metadata a {
  text-decoration: none;
}

#currentsong-metadata {
  height: 100%;
  border-right: solid;
  border-top:solid;
  border-bottom:solid;
  border-color: #2d2f39;
  font-size: 1.15vw;
  line-height: 2vw;
  padding: 5px;
  overflow-x:hidden;
  text-align: right;
}

#currentsong-metadata a {
  text-decoration: none;
}

#grabtrack {
  height: 8.25vh;
  cursor: pointer;
  font-size: 150%;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 25px;
}

#playlists-open-button {
  height: 100%;
  cursor: pointer;
  width: 4vw;
  font-size: 0.75vw;
  border-right: solid;
  border-color: #2d2f39;
  background: linear-gradient(135deg, rgba(118,158,20,0.9755847774751005) 35%, rgba(99,163,45,0.9872806839078491) 100%);
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

#playlists-open-button:hover {
  background-color: rgba(85,128,0,1);
}

#playlists-open-icon {
  color: white;
  line-height: 8vh;
  height: inherit;
  width: inherit;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 0;
}

#vote {
  height: 8.25vh;
  cursor: pointer;
  font-size: 150%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  a {
    text-decoration: none;
  }
}


.waitlist {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  line-height: 75px;
  text-align: center;
  display: table-cell;
  align-items: center;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

@media (min-width: 0px) {
.waitlist {
    width: 14.825%;
  }
}

@media (min-width: 800px) {
.waitlist {
    width: 14.875%;
}
}

@media (min-width: 1300px) {
.waitlist {
    width: 14.925%;
}
}

@media (min-width: 1600px) {
.waitlist {
    width: 14.98%;
}
}
.add-to-playlist-button {
  cursor: pointer;
}

.remove-playlist {
  cursor: pointer;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  background-color: inherit;
}
.track {
	height: 100%
}
.track-0 {
	background-image: linear-gradient(to right, #579300, #77b320);
	border-radius: 5px;
}
.volume-slider {
  height: 49%;
  width: 95%;
  margin: 0 auto;
}

.volume-slider-icon {
  position: absolute;
  z-index: 2;
  font-size: 1.15vw !important;
  text-align: right;
  padding: 0;
  line-height: 2.25vw !important;
  right: 3.75vw;
  // margin-left: -40%;
  color: white;
  pointer-events: none;
  top: 2.1vw;
}
.fa-volume-off {
	right: 3.75vw;
}
.fa-volume-down {
	right: 3.75vw;
}

.volume-slider-node {
  height: 100%;
  overflow-x: hidden;
}

 .volume-slider-handle {
   display:none;
 }

.volume-slider-handle-active {
  height: 25px;
  width: 5px;
  border-radius: 10px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  margin-top: .3vw;
  background-color: #77b300;
  border: 1px solid #2e2e38;
}

.volume-slider-bar {
  background-color:#77b300;
  height: 100%;
}

.volume-slider-bar-active {
  background-color:white;
}

.volume-slider-bar-0 {
  background: linear-gradient(135deg, rgba(119,179,0,1) 35%, rgba(151,211,32,1) 100%);
  border-radius: 9px;
}

.volume-slider-bar-1 {
  background-color: #000;
}

.playlist-loading {
  position: relative;
  left:50%;
  right:50%;
  margin-top:20%;
}

.current-playing-user {
  float:left;
  color: #77b300;
  cursor: pointer;
}
