
#sidebar {
  height: 100%;
}

//@MEDIA SDSAHDLKHSADÖSADÖJSALÖ    10%
.sidebar-changer {
  color: white;
  text-align: center;
  line-height: 2vw;
  cursor: pointer;
  font-size: .75vw;
}

@media (min-width: 0px) {
  .sidebar-changer {
    height: max-content !important; //13% do not unimportant this is important
  }
}

@media (min-width: 1200px) {
  .sidebar-changer {
    height: 5% !important; //do not unimportant this is seriously fucking important
  }
}

.sidebar-selected {
  color: white;
  text-align: center;
  background-color: #27272c;
  font-weight: bolder;
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .sidebar-selected {
    height: 100% !important; //do not unimportant this is seriously fucking important
  }
}

@media (min-width: 0px) {
  .show-chat-btn {
    padding: 3px 0;
  }
  .show-ousers-btn, .show-waitlist-btn, .show-about-btn {
    //display:none;
  }
}

@media (min-width: 720px) {
  .show-chat-btn {
    padding: 3px 0;
  }
  .show-ousers-btn, .show-waitlist-btn, .show-about-btn {
    padding: 3px 0;
    display: block;
  }
}

@media (min-width: 1800px) {
  .show-chat-btn {
    padding: 0;
  }
  .show-ousers-btn, .show-waitlist-btn, .show-about-btn {
    padding: 0;
    display: block;
  }
}

@media (min-width: 0px) {
  .online-count {
    color: black;
    background-color: white;
    padding: 0.4% 0.9%;
    border-radius: 100px;
    display: inline;
  }
}

@media (min-width: 750px) {
  .online-count {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  .online-count {
    padding: 2% 5.5%;
  }
}

@media (min-width: 0px) {
  .waitlist-count {
    color: black;
    background-color: white;
    padding: 0.4% 0.9%;
    border-radius: 100px;
    display: inline;
  }
}

@media (min-width: 750px) {
  .waitlist-count {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  .waitlist-count {
    padding: 2% 5.5%;
  }
}

.sel-chat {

}

.sel-online {
  margin-left: 1%;

}

.sel-waitlist {
  margin-left: 1%;
}

.sel-about {

}
