
#sidebar {
  height: 100%;
}

@media (min-width: 0px) {
  #sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}

@media (min-width: 1200px) {
  #sidebar {
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-column-gap: unset;
    grid-row-gap: unset;
  }
}

//moving sidebar-changer and onlineEnts/Waitlist-Cnt classes to bottom

.sel-chat {

}

.sel-online {
  margin-left: 1%;

}

.sel-waitlist {
  margin-left: 1%;
}

.sel-about {

}

.sidebar-changer {
  color: white;
  text-align: center;
  line-height: 2vw;
  cursor: pointer;
}

@media (min-width: 0px) {
  .sidebar-changer {
    grid-area: 1 / 1 / 2 / 2;
    font-size: .85vw;
  }
}
@media (min-width: 1200px) {
  .sidebar-changer {
    grid-area: unset;
    height: 5% !important; //do not unimportant this is seriously fucking important
    font-size: .75vw;
  }
}

.sidebar-selected {
  color: white;
  text-align: center;
  background-color: #27272c;
  font-weight: bolder;
  border-radius: 5px;
}

@media (min-width: 0px) {
  .sidebar-selected {
    height: unset;
  }
}

@media (min-width: 1200px) {
  .sidebar-selected {
    height: 100% !important; //do not unimportant this is seriously fucking important
  }
}

@media (min-width: 0px) {
  .show-chat-btn {
    padding: 5% 0;
    height: 25%;
  }
  .show-ousers-btn, .show-waitlist-btn, .show-about-btn {
    //display:none;
    padding: 5% 0;
    height: 25%;
  }
}

@media (min-width: 720px) {
  .show-chat-btn {
    padding: 2px 0;
  }
  .show-ousers-btn, .show-waitlist-btn, .show-about-btn {
    padding: 1px 0;
    display: block;
  }
}

@media (min-width: 1800px) {
  .show-chat-btn {
    padding: 0;
  }
  .show-ousers-btn, .show-waitlist-btn, .show-about-btn {
    padding: 0;
    display: block;
  }
}

@media (min-width: 0px) {
  .online-count {
    color: black;
    background-color: white;
    padding: 0.4% 0.9%;
    border-radius: 100px;
    display: inline;
  }
}

@media (min-width: 750px) {
  .online-count {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  .online-count {
    padding: 2% 5.5%;
  }
}

@media (min-width: 0px) {
  .waitlist-count {
    color: black;
    background-color: white;
    padding: 0.4% 0.9%;
    border-radius: 100px;
    display: inline;
  }
}

@media (min-width: 750px) {
  .waitlist-count {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  .waitlist-count {
    padding: 2% 5.5%;
  }
}