#ytregcheck {
    margin-top: 5px;
    border-radius: 0px;
    padding: -2px;
}

div .userbit-avatar span .avatarimg {
  width:19px;
  height:19px;
  border-radius: 5px;
  float:left;
  margin-right:5px;
}
