/* #### Media Queries ####*/

$isPortrait: 'only screen and (orientation: portrait)';
$isLandscape: 'only screen and (orientation: landscape)';

/* #### Navbar #### */

$navbar-font-size: 1.2em;
$navbar-font-size-dynamic: 1vw; //use in elements that break easily when cramped

$navbar-height: 5vh;
$navbar-button-height: 3.5vh;

$navbar-height-portrait: 3vh;
$navbar-button-height-portrait: 2vh;

/* #### colors #### */

$trees-primary: #77b420;
$trees-bg: #0A0A0A;
$ctrl-area-bg: #0c0c0e