{
  "env": {
    "browser": true,
    "es6": true
  },

  "globals": {
    "React": true
  },

  "ecmaFeatures": {
    "blockBindings": true,
    "jsx": true,
    "modules": true
  },

  "plugins": [
    "react"
  ],

  "extends": "eslint:recommended",

  "rules": {
    "strict": 1,
    "no-console": 1,
    "no-alert": 1,
    "brace-style": 1,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-eval": 2,
    "no-with": 2,
    "yoda": 2,
    "no-self-compare": 2,
    "no-unexpected-multiline": 2
  }
}
