# This file is a template, and might need editing before it works on
# your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
---
image: "node:alpine:3.13"

cache:
  key: "$CI_BUILD_STAGE_$CI_BUILD_REF_NAME_02"
  paths:
    - node_modules/
    - yarn-cache/

stages:
  - build-dev
  - build-prod
  - deploy

before_script:
  - apk -U add yarn git
  - yarn

lint:
  stage: build-dev
  script:
    - npm run lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always

build-dev:
  stage: build-dev
  artifacts:
    paths:
      - public/
      - firebase/
  script:
    - time npm run build-rules
    - time npm run build-dev
  only:
    - develop

build-prod:
  stage: build-prod
  artifacts:
    paths:
      - public/
      - firebase/
  script:
    - time npm run build-rules
    - time npm run build-prod
  only:
    - master

deploy_staging:
  stage: deploy
  environment: 
    name: staging
  before_script:
    - apk -U add ruby-dev git
    - gem install dpl
  dependencies:
    - build-dev
  only:
    - develop
  script:
    - 'dpl --skip_cleanup --provider=firebase
    --token=$FIREBASE_DEPLOY_STAGING --project=treesradio-staging'

deploy_production:
  stage: deploy
  environment: 
    name: production
  before_script:
    - apk -U add ruby-dev git
    - gem install dpl
  dependencies:
    - build-prod
  only: 
    - master
  script:
    - 'dpl --skip_cleanup --provider=firebase
    --token=$FIREBASE_DEPLOY_PROD --project=treesradio-live'
