@import "variables";

/* ## Main ## */
@media (min-width: 1200px) {
  .container-fluid {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 12px !important;
  }

  #playlists-panel-display {
    font-size: 12px;
  }

  .pl-media-title {
    overflow: hidden;
    font-size: 100%;
    flex-grow: 1;
  }

  #search {
    position: fixed;
    bottom: 0;
    width: 99%;
  }

  #playlists-panel-display ol li {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
  }
  .pl-thumbnail {
    width: 2rem;
  }

  .dropdown-btn {
    font-size: 100%;
  }

  #playlist-btn {
    margin-left: 0;
  }

  .fa-2x {
    font-size: 1.5em;
  }

  #chatcontainertop {
    font-size: 8px;
    height: calc(100% - 5rem) !important;
  }

  #playlist-metadata,
  #currentsong-metadata {
    line-height: 1.5rem;
  }

  .emojilarge {
    height: 24px;
    width: 24px;
  }

  #chat-counter_test {
    line-height: 0.4;
  }

  #playlists-bar {
    grid:
      [row1-start] "playlist-btn playlist current-song current-song current-song" 2fr [row1-end]
      [row2-start] "waitlist-btn waitlist-btn waitlist-btn grab like" 1fr [row2-end]
      [row3-start] "waitlist-btn waitlist-btn waitlist-btn volume dislike" 1fr [row3-end]
      / 4rem 1.2fr 1fr 4.5rem 4.5rem;
  }

  p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }

  .navbar-brand {
    width: 2.5rem !important;
  }

  #playlist-ul,
  #playlist-ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1em;
    height: 100%;
  }
}

@media #{$isPortrait} {
  video {
    left: 0 !important;
  }

  .hide-small {
    display: none;
  }

  #app-grid {
    grid:
      [row1-start] "nav" $navbar-height [row1-end]
      [row2-start] "player" $player-height [row2-end]
      [row3-start] "toolbar" calc(#{$sidebar-height} * 2) [row3-end]
      [row4-start] "chat" 1fr [row4-end]
      / 1fr;
  }

  .sidebar-changer {
    height: $chatmenu-mini;
    line-height: $chatmenu-mini;
  }

  #chatcontainertop {
    height: calc(100% - #{$chatmenu-mini});
  }

  .small-player-size {
    height: 15rem !important;
  }

  #playlists-panel {
    bottom: calc(100% - #{$player-height} - #{$navbar-height});
    width: 100%;
    height: $player-height;
  }

  #playlists-open-icon {
    line-height: $sidebar-height;
  }

  #vidcontainer,
  #player-size {
    height: 100%;
  }

  .join-waitlist {
    line-height: 4rem;
  }
}

/* ## Navbar ## */
@media only screen and (max-width: 800px) {
  .navbar-brand {
    width: 5rem;
  }
}

@media #{$isPortrait}, (min-height: 1439px) {
  .navbar-brand {
    font-size: 150%;
    height: unset;
    width: 5rem;
  }
}

@media #{$isPortrait}, (min-height: 1440px) {
  #tr-nav {
    height: unset;
  }

  #navbar-grid {
    //grid-template-rows: 5vw !important;
  }

  .hypedone {
    line-height: 1.7vh;
  }
}

// @media only screen and (max-width: 750px) {
//   #tr-nav {
//     height: 0;
//   }
// }

// @media only screen and (max-width: 1300px) {
//   #toke-button {
//     font-size: 0.75 * $navbar-font-size;
//     padding: 0.4vh 0.7vw;
//   }

//   .hypepb {
//     font-size: $navbar-font-size;
//   }
// }

// @media (orientation: portrait) {
//   @media #{$isPortrait}, screen and (min-height: 1339px) {
//     #toke-button {
//       padding: 0.8vh 0.7vw;
//     }
//   }
// }

/** ## Video ## */

@media (min-width: 750px) {
  #videotoplevel {
    height: 100%;
    background-color: black;
    padding: 0;
    display: block;
  }
}

@media (min-height: 0) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 3vh;
    width: 100%;
  }
}

@media (min-height: 100px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 3.5vh;
    width: 100%;
  }
}

@media (min-height: 200px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 3vh;
    width: 100%;
  }
}

@media (min-height: 300px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 2.5vh;
    width: 100%;
  }
}

@media (min-height: 350px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 2.5vh;
    width: 100%;
  }
}

@media (min-height: 400px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 1.5vh;
    width: 100%;
  }
}

@media (min-height: 480px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 1.25vh;
    width: 100%;
  }
}

@media (min-height: 600px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 0.75vh;
    width: 100%;
  }
}

@media (min-height: 700px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: 0;
    height: 0.5vh;
    width: 100%;
  }
}

@media (min-height: 1400px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }
}

@media (min-height: 1600px) {
  #player-size {
    width: 100%;
    transition: all 0.15s ease-in 50ms;
    -webkit-transition: all 0.15s ease-in 50ms;
    -moz-transition: all 0.15s ease-in 50ms;
    -o-transition: all 0.15s ease-in 50ms;
  }

  .progressbar-container {
    position: absolute;
    bottom: -2px;
    height: 0.6vh;
    width: 100%;
  }
}

/** ## Sidebar ##**/

@media (min-width: 0) {
  .online-count {
    color: black;
    background-color: white;
    padding: 0.4% 0.9%;
    border-radius: 100px;
    display: inline;
  }
}

@media (min-width: 750px) {
  .online-count {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  .online-count {
    padding: 2% 5.5%;
  }
}

@media (min-width: 0) {
  .waitlist-count {
    color: black;
    background-color: white;
    padding: 0.4% 0.9%;
    border-radius: 100px;
    display: inline;
  }
}

@media (min-width: 750px) {
  .waitlist-count {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  .waitlist-count {
    padding: 2% 5.5%;
  }
}
