@use "../core/variables"as vars;

// TODO remove dependecy on media queries, then put media queries into media-queries.scss
@media (min-width: 0) {
  #chattoplevel {
    background-color: vars.$color-chat-toplevel-bg;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    float: left;
  }

  .navbar-nav {
    margin: 0;
  }
}

#chatcontainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

#chatscroll {
  height: calc(100% - 2rem);
}

.chatbar {
  height: 2.8rem;
  bottom: 0;
  position: absolute;
  width: 25vw;
}

#chatcontainertop {
  font-size: 10px;
  height: calc(100% - 5rem);
  width: 100%;
}

// @media (min-width: 0) {
//   #chatcontainertop {
//     grid-area: 2 / 1 / 10 / 2;
//     height: unset;
//     width: unset;
//     bottom: 0;
//     margin-right: 0;
//     overflow: hidden;
//   }
// }

// @media (min-width: 0px) {
//   #chatcontainer {
//     height: unset;
//     padding-bottom: unset;
//     width: unset;
//     bottom: unset;
//     overflow: hidden;
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(9, 1fr);
//     grid-column-gap: 0;
//     grid-row-gap: 0;
//   }
// }

// @media (min-width: 1200px) {
//   #chatcontainer {
//     width: 100%;
//   }
// }

#chatscroll::-webkit-scrollbar {
  width: 1em;
}

#chatscroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chatscroll::-webkit-scrollbar-thumb {
  background-color: #343642;
  outline: 1px solid slategrey;
}

#chatbox {
  width: 100%;
  //bottom: 0;
  //height: 100%;
  margin: 0;
  padding: 0;
}

.chat-line-0 {
  background-color: rgba(18, 0, 41, 0.6); //light skin e9eef0
  padding: 10px;
}

.chat-line-1 {
  background-color: rgba(28, 0, 51, 0.6); //light skin cbd6dc
  padding: 10px;
}

.chat-msg {
  vertical-align: bottom;
  width: 90%;
  max-width: 90%;
  word-wrap: break-word;
}

.chat-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: vars.$color-chat-item-border;
  color: vars.$color-chat-item;
  list-style-position: inside;
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 2px 3px 2px 0 rgba(42, 0, 42, 0.8);
  padding-bottom: 3px;
  padding-left: 5px;
  width: 98%;
  display: flex;
  border-radius: 8px;
}

.chat-username {
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}

.chat-username:hover {
  text-decoration: underline;
}

.userflair {
  color: vars.$color-user-flair;
  font-size: 0.75rem;
  line-height: 1.5;
}

.modal-body .userflair {
  font-size: 0.8rem;
}

.patreon {
  width: 18px;
  height: 18px;
  color: gold;
  display: inline-block;
}

.nopatreon {
  display: none;
}

.username-bot {
  color: vars.$color-username-bot;
}

.username-bot::after {
  color: vars.$color-rank-bot;
  content: " (Bot)";
  font-size: vars.$rank-font-size;
}

.username-admin {
  color: vars.$color-username-admin;
}

.username-admin::after {
  color: vars.$color-rank-admin;
  content: " (Admin)";
  font-size: vars.$rank-font-size;
}

.username-dev {
  color: vars.$color-username-dev;
}

.username-dev::after {
  color: vars.$color-rank-dev;
  content: " (Developer)";
  font-size: vars.$rank-font-size;
}

.username-mod {
  color: vars.$color-username-mod;
}

.username-mod::after {
  color: vars.$color-rank-mod;
  content: " (Mod)";
  font-size: vars.$rank-font-size;
}

.username-seniormod {
  color: vars.$color-username-mod;
}

.username-seniormod::after {
  color: vars.$color-rank-seniormod;
  content: " (Senior Mod)";
  font-size: vars.$rank-font-size;
}

.username-vip {
  color: vars.$color-username-vip;
}

.username-vip::after {
  color: vars.$color-rank-vip;
  content: " (VIP)";
  font-size: vars.$rank-font-size;
}

.username-frient {
  color: vars.$color-username-frient;
}

.username-frient::after {
  color: vars.$color-rank-frient;
  content: " (Frient)";
  font-size: vars.$rank-font-size;
}

.username-user {
  color: vars.$color-username-default;
}

.chat-text {
  // height: 1vw;
  width: 100%;
  position: relative;
  font-size: 1rem;
}

.chat-text p {
  padding-bottom: 8px;
  padding-top: 4px;
}

.chat-avatar {
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.avatarimg {
  border-radius: 5px;
  height: 45px;
  width: 45px;
  object-fit: scale-down;
  object-position: center;
  background-color: vars.$color-avatar-background;
}

.mentions-container {
  background-color: lightsteelblue;
  position: absolute;
  bottom: 6.5%;
  left: 0.75%;
  color: black;
  padding: 1% 2%;
  border-radius: 5%;
  z-index: 100;
  display: table;
}

.mention-item:hover {
  text-decoration: underline;
}

.mention-item {
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  display: table-row;
}

#chatscroll {
  margin: 0;
  overflow: hidden auto;
}

#sendbox {
  position: absolute;
  height: 5%;
  max-height: 45px;
  left: 0.75%;
  margin-top: 1px;
  padding-top: 1px; //rem position: absolute;
  bottom: 0rem;
}

.tr-form-group {
  width: 100% !important;
}

.chatboxform {
  height: 100%;
}

#sendbox_test {
  height: 100%;
  display: flex;
  font-size: 1.65em;
  color: black;
  padding-right: 0;
}

#chatinput {
  z-index: 3;
  width: calc(100% - 1rem);
  border: 1px solid #ccc;
  // border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  // border-radius: 6px 0 0 6px;
  padding: 0;
  padding-left: 0.5rem;
  margin: 0;
  vertical-align: top;
}

#chat-counter_test {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  align-items: center;
}

.blazebot-msg {
  color: vars.$color-blazebot-message;
  background-color: vars.$color-blazebot-message-background;
}

.blazebot-msg a:link {
  color: vars.$color-blazebot-message-link;
}

.blazebot-msg a:visited {
  color: vars.$color-blazebot-message-link;
}

.blazebot-msg a:active {
  color: vars.$color-blazebot-message-link;
}

.blazebot-msg a:hover {
  color: vars.$color-blazebot-message-link-hover;
}

.blazebot-hide {
  display: none;
}

.chat-timestamp {
  float: right;
  font-size: .8rem;
}

.inline-image {
  max-width: 100%;
  max-height: 200px;
}

#chat-counter {
  position: absolute;
  z-index: 1;
  // margin-left: 21.9vw;
  margin-top: 2rem;
}

.sendbox-locked {
  height: 6%;
  width: 100%;
}

.sendbox-loggedout {
  background: vars.$color-trees-bg !important;
}

.sendbox-loggedout-msg {
  position: relative;
  top: 1vh;
  left: 4vw;
  font-size: 2.5em;
}

.sendbox-locked-msg {
  position: relative;
  left: 5vw;
  font-size: 2em;
}

.sendbox-locked-msg2 {
  position: relative;
  float: left;
  left: 5.85vw;
  font-size: 2em;
}

.sendbox-locked-timer {
  color: #77b300;
}

img[alt="previewimg"] {
  width: 130px;
  float: right;
}

img[alt="previewimgsm"] {
  height: 130px;
  float: right;
}

img[alt="previewimgxs"] {
  height: 65px;
  float: right;
  margin-top: -21px;
}

img[alt="previewvideo"] {
  height: 100px;
  width: 130px;
  float: right;
}

@media #{vars.$isPortrait},
(min-height: 1440px) AND (max-width: 1199px) {
  img[alt="previewvideo"] {
    height: unset;
    max-width: 90px;
    float: right;
  }
}

img[alt="previewavatar"] {
  height: 40px;
  width: 40px;
  float: right;
  margin-top: -1vh;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

img[alt="tenorgif"] {
  min-width: 4.2vw;
  max-width: 95%;
  max-height: 25vh;
}

@media #{vars.$isPortrait},
(min-height: 1440px) {
  img[alt="tenorgif"] {
    min-width: 4.2vw;
    max-width: 95%;
    max-height: 35vh;
  }
}

strong>img {
  max-width: 97%;
  padding: 2% 0;
}

a[title="previewlink"] {
  color: white !important;
  font-weight: bold;
}

div>blockquote {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.joinalert {
  font-size: 1.15em; //rem font-style: bold; mismatched prop
}

.sidebar-song-title {
  font-size: 1.65em;
  color: #06d; //rem font-style: bold; mismatched prop
}

.songstats-likes {
  padding-left: 20px;
  font-size: 1.1em;
  border-left: 5px solid #282828;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.songstats-dislikes {
  padding-left: 20px;
  font-size: 1.1em;
  border-left: 5px solid #282828;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.songstats-grabs {
  padding-left: 20px;
  font-size: 1.1em;
  border-left: 5px solid #282828;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.chat-bold {
  font-weight: bold;
}

.chat-italic {
  font-style: italic;
}

.emojilarge {
  height: 48px;
  width: 48px;
  font-size: inherit;
  background-size: cover;
  top: -3px;
  position: relative;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  text-indent: -9999em;
}

.emoji {
  height: 24px;
  width: 24px;
  font-size: inherit;
  background-size: 24px;
  top: -3px;
  position: relative;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  text-indent: -9999em;
}

.emoji-weed {
  background-image: vars.$img-emoji-weed;
}

.emoji-plug {
  background-image: vars.$img-emoji-plug;
}

.emoji-toke {
  background-image: vars.$img-emoji-toke;
}

.emoji-joint {
  background-image: vars.$img-emoji-joint;
}

.emoji-ferris {
  background-image: url vars.$img-emoji-ferris;
}

.emoji-one {
  background-image: vars.$img-emoji-one;
}

.img-heart-weed {
  background-image: vars.$img-heart-weed;
}

.img-peace-weed {
  background-image: vars.$img-peace-weed;
}

.img-weed1 {
  background-image: vars.$img-weed1;
}

.img-weed2 {
  background-image: vars.$img-weed2;
}

.img-weed3 {
  background-image: vars.$img-weed3;
}

.img-weed4 {
  background-image: vars.$img-weed4;
}

.img-weed5 {
  background-image: vars.$img-weed5;
}

.emoji-two {
  background-image: vars.$img-emoji-two;
}

.emoji-three {
  background-image: vars.$img-emoji-three;
}

.emoji-four {
  background-image: vars.$img-emoji-four;
}

.emoji-five {
  background-image: vars.$img-emoji-five;
}

.emoji-six {
  background-image: vars.$img-emoji-six;
}

.emoji-seven {
  background-image: vars.$img-emoji-seven;
}

.emoji-eight {
  background-image: vars.$img-emoji-eight;
}

.emoji-nine {
  background-image: vars.$img-emoji-nine;
}

.emoji-ten {
  background-image: vars.$img-emoji-ten;
}

.emoji-highaf {
  background-image: vars.$img-emoji-highaf;
}

.emoji-owo {
  background-image: vars.$img-emoji-owo;
}

.emoji-rolling {
  background-image: vars.$img-emoji-rolling;
}

.emoji-dude {
  background-image: vars.$img-emoji-dude;
}

.emoji-bong {
  background-image: vars.$img-emoji-bong;
  background-size: cover;
}

.emoji-neat {
  background-image: vars.$img-emoji-neat;
  background-size: 111%;
}

.emoji-420 {
  background-image: vars.$img-emoji-fourtwenty;
  background-size: 111%;
}

.emoji-rasta {
  background-image: vars.$img-emoji-rasta;
}