@use "../core/variables" as vars;

#usernametop {
  display: flex;
  border-radius: 0 !important;
  vertical-align: baseline;
  text-align: center;
  align-self: baseline;
  align-content: baseline;
  height: calc(100% - 2 * 0.75rem);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#usernamedropdown {
  height: vars.$navbar-button-height;
  border-radius: 0 !important;
}

#username {
  place-self: center;
}

#userbit-dropdown {
  margin-right: 1.75vw !important;
}

#userbit-expander {
  margin-left: 10px;
}

div .userbit-avatar span .avatarimg {
  // height: 2.5rem !important;
  // width: 2.5rem !important;
  place-self: center;
  align-content: baseline;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.userbit-avatar {
  place-self: center;
}

.user-avatar-preview-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 2vh;
}

@media only screen and (max-width: 1625px) {
  #username,
  #usernamedropdown {
    font-size: 0.7 * vars.$navbar-font-size;
  }
}

@media only screen and (max-width: 1730px) {
  #username,
  #usernamedropdown {
    font-size: 0.65 * vars.$navbar-font-size;
  }
}

@media only screen and (max-width: 1300px) {
  #username,
  #usernamedropdown {
    font-size: 0.6 * vars.$navbar-font-size;
  }
}

div.modal-dialog {
  max-height: 30vh;
}
