
/*
*	TREES RADIO PRE-MINIFICATION CSS
*	
*	Bootswatch Bootstrap Theme: https://bootswatch.com/cyborg/
*	Success and primary colors swapped.
*	
*	Common colors:
*		main: #77B300  (used for bootswatch primary color)
*		
*
*/

/*************************************************************
* SCAFFOLDING
**************************************************************/

html,body {
	/* height of all parent elems of .col-trees-radio must be 100% to make those cols 100% */
	height: 100%;
}

.navbar {
	margin-bottom: 1px;

}

#tr-nav {
	height: 6%;
}

#nav-divider {
	height: 20px;
	background-color: #77B300;
}

.tr-maxheight {
	height: 92%;
}

.tr-maxrowheight {
	height: 100%;
}

.col-trees-radio {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

#votingtoplevel {
	background-color: orange;
}

#videotoplevel {
	/*background-color: red;*/
	background-color: #171717;
}

#chattoplevel {
	background-color: green;
}

.placeholder-txt {
	text-align: center;
	vertical-align: middle;
}


/*************************************************************
* Video Section
**************************************************************/

#player {
	margin-left: auto;
	margin-right: auto;
}

#vidcontainer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.bg-fill-l {
	position: absolute;
	top: 0px;
	left: 0px;
	width:300px;
	height: 576px;
	background-image: url("../img/escheresque_ste.png");
	background-repeat: repeat;
}

.bg-fill-r {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 576px;
	background-image: url("../img/escheresque_ste.png");
	background-repeat: repeat;
}

.section-divider {
	width: 100%;
	height: 5px;
	background-color: #77B300;
}

#volslider {
	width: 20%;
	height: 10px;
}
.ui-slider-range {
	background: #77B300;
}
.ui-slider-handle {
	border-color: #77B300;
}



/* KEEP NEAR BOTTOM */
/*.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}*/




