
@import './Chat/Chat';


#sidebar {
  height: 100%;
}

.sidebar-changer {
  height: 5% !important;
  color:white;
  text-align: center;
  line-height: 2vw;
  }

.sidebar-selected {
  height: 100% !important;
  color:white;
  text-align: center;
  background-color:gray;
  line-height: 2vw;
}
