.sidebar-about {
  width: 100%;
  height: 100%;
}

.about-summary {
  height: 17.5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  width: 95%;
  padding-left: 5%;
  padding-top: 5%;
  position: relative;
}

.about-rules {
  height: 57.5%;
  width: 100%;
  font-size: 1vw;
  padding-left: 5%;
}

.rules-list {
  list-style-position: inside;
  list-style-type:none;
  padding: 0;
}

.about-bugs {
  height: 12.5%;
  width: 95%;
  padding-left: 5%;
  font-size: 1vw;
}

.about-suggestions {
  height: 12.5%;
  width: 95%;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 1vw;
}

#rules-1 {
  margin-bottom: 2%;
}

#rules-2 {
  margin-bottom: 2%;
}

#rules-3 {
  margin-bottom: 2%;
}

#rules-4 {
  margin-bottom: 2%;
}

#rules-5 {
  margin-bottom: 2%;
}

#rules-6 {
  margin-bottom: 2%;
}

#rules-7 {
  margin-bottom: 2%;
}

#rules-8 {
  margin-bottom: 2%;
}

#rules-9 {
  margin-bottom: 2%;
}
