//	TREES RADIO PRE-MINIFICATION SASS
//
//	Bootswatch Bootstrap Theme: https://bootswatch.com/cyborg/
//	Success and primary colors swapped.
//
//	Common colors:
//		main: #77b300  (used for bootswatch primary color)
//

@import '../node_modules/sweetalert/dist/sweetalert.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


//
// VARIABLES (SASS FEATURE, IGNORE POST-COMPILE)
//
$trees-primary: #77b300;
$trees-bg: #060606;
$videotoplevel-bg: #171717;
$votingtoplevel-bg: #272727;
$chattoplevel-bg: #e9eef0;
$chat-item-border: #808080;
$chat-item-color: #000;


//
// SCAFFOLDING
//

// @-ms-viewport{
//   width: device-width;
//   height: device-height;
// }

html,
body {
// height of all parent elems of .col-trees-radio must be 100% to make those cols 100% */
  height: 100%;
  overflow-y: hidden;
}

.navbar {
  margin-bottom: 1px;
}

#tr-nav {
	//height: 6%;
}

#nav-divider {
  background-color: $trees-primary;
  height: 5px;
}

.maxitbro {
  height: 100%;
	//padding-left: 0;
	//padding-right: 0;
}

#votingtoplevel {
  background-color: $votingtoplevel-bg;
  z-index: 1;
  height: 100%;
}

#videotoplevel {
	// background-color: red;
  background-color: $videotoplevel-bg;
}

#chattoplevel {
  background-color: $chattoplevel-bg;
  border: 2px solid #73AD21;
}

.placeholder-txt {
  text-align: center;
  vertical-align: middle;
}


//
// Video Section
//

#player {
  margin-left: auto;
  margin-right: auto;
}

/*
#vidcontainer {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  margin-left: 16%;
}
*/

.bg-fill-l {
	// position: absolute;
	// top: 0px;
	// left: 0px;
	// width:300px;
  background-image: url('img/escheresque_ste.png');
  background-repeat: repeat;
  height: 100%;
}

.bg-fill-r {
	// position: absolute;
	// top: 0px;
	// right: 0px;
  // width: 300px;
  background-image: url('img/escheresque_ste.png');
  background-repeat: repeat;
  height: 100%;
}

.section-divider {
  background-color: $trees-primary;
  height: 5px;
  width: 100%;
}

#volslider {
  height: 10px;
  width: 20%;
  }

.ui-slider-range {
  background: $trees-primary;
}

.ui-slider-handle {
  border-color: $trees-primary;
}



// /* KEEP NEAR BOTTOM */
// .video-js {padding-top: 56.25%}
// .vjs-fullscreen {padding-top: 0px}



//
// Chat
//


#chatcontainer {
  height: 3650px;
  width: 100%;
}


#chatbox {
  list-style: none;
  padding-left: 0;
  width:450px;
}


#chatscroll {
  height: 23%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#sendbox {
  padding: 12px;
  position: absolute;
  width: 100%;
  top: 6.075%;
  left: 0;
  right: 5px;
}

#chatinput {
  width: 100%;
	//margin-bottom: 20px;
}

#sendchat {

	//margin-bottom: 20px;
}
.chat-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $chat-item-border;
  color: $chat-item-color;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-top: 3px;
}

.chat-text {
  font-family: 'Open Sans', sans-serif;
}

.chat-username {
  color: black;
  font-size: normal;
  font-weight: bolder;
  font-size: 110%;
  //text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}



/*******************************************************
* Michael's Section
*******************************************************/

user agent stylesheeta:-webkit-any-link {
    text-decoration: underline;
    cursor: auto;
}


.vote-buttons {
  padding-left: 5%;
  padding-top: 5%;
  color: black;
  list-style-type: none;
  list-style-position: inside;
  border-color: gray;
}

.vote-item {
  color: black;
  list-style-type: none;
  list-style-position: inside;
  border-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0;
  padding-left: 25%;
  padding-top: 20%;
}

.song-name {
  font-size: small;
  font-weight: bold;
  color: Gray;
  font-family: 'Open Sans', sans-serif;
}

.submitted-by {
  font-size: small;
  color: Gray;
  font-family: 'Open Sans', sans-serif;
}


.vote-user {
  font-size: small;
  font-weight: bold;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

/* Chat */

.chat-line-0 {
  border-radius: 15px;
  background-color: #e9eef0;
  padding: 10px;
}

.chat-line-1 {
  border-radius: 15px;
  background-color: #cbd6dc;
  padding: 10px;
}

/* Userbit */

#emailpassfields  {
  margin-top: 7px;
}

#loginbutton{
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#regbutton {
  margin-top: 7px;
  margin-right: 10px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#logoutbutton {
  margin-top: 6px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

.navbar-brand {
  position: relative;
  left: 10px;
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  vertical-align: baseline;
}

#usernametop {
margin-right: 0;
margin-top: 6px;
text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
letter-spacing: 1.5px;
font-size: 110%;
}

#usernamedropdown {
  margin-left: 0;
  margin-right: 5px;
  margin-top: 6px;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 2.25px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
    font-size: 110%;
}

#emailbox {
  margin-right: 5px;
}

/* Components Container */

.container-fluid
{
    height:100%;
}
.container-fluid
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row
{
    height: 100%;
    display: table-row;
}

.col-lg-2.no-float, .col-lg-7.no-float, .col-lg-3.no-float {
}
.col-lg-2
{
    display: table-cell;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    height: 100%;
}
.col-lg-7
{
  display: table-cell;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  height: 100%;
}
.col-lg-3
{
  display: table-cell;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  height: 100%;
}
