//	TREES RADIO PRE-MINIFICATION SASS
//
//	Bootswatch Bootstrap Theme: https://bootswatch.com/cyborg/
//	Success and primary colors swapped.
//
//	Common colors:
//		main: #77b300  (used for bootswatch primary color)
//

@import '../node_modules/sweetalert/dist/sweetalert.css';


//
// VARIABLES (SASS FEATURE, IGNORE POST-COMPILE)
//
$trees-primary: #77b300;
$trees-bg: #060606;
$videotoplevel-bg: #171717;
$votingtoplevel-bg: #1a1a1a;
$chattoplevel-bg: #e9eef0;
$chat-item-border: #808080;
$chat-item-color: #000;


//
// SCAFFOLDING
//

// @-ms-viewport{
//   width: device-width;
//   height: device-height;
// }

html,
body {
// height of all parent elems of .col-trees-radio must be 100% to make those cols 100% */
  height: 100%;
  overflow-y: hidden;
}

.navbar {
  margin-bottom: 1px;
}

#tr-nav {
	//height: 6%;
}

#nav-divider {
  background-color: $trees-primary;
  height: 5px;
}

.maxitbro {
  height: 100%;
	//padding-left: 0;
	//padding-right: 0;
}

#votingtoplevel {
  background-color: $votingtoplevel-bg;
  z-index: 1;
  height: 100%;
}

#videotoplevel {
	// background-color: red;
  background-color: $videotoplevel-bg;
}

#chattoplevel {
  background-color: $chattoplevel-bg;
}

.placeholder-txt {
  text-align: center;
  vertical-align: middle;
}


//
// Video Section
//

#player {
  margin-left: auto;
  margin-right: auto;
}

#vidcontainer {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  margin-left: 16%;
}

.bg-fill-l {
	// position: absolute;
	// top: 0px;
	// left: 0px;
	// width:300px;
  background-image: url('img/escheresque_ste.png');
  background-repeat: repeat;
  height: 100%;
}

.bg-fill-r {
	// position: absolute;
	// top: 0px;
	// right: 0px;
  // width: 300px;
  background-image: url('img/escheresque_ste.png');
  background-repeat: repeat;
  height: 100%;
}

.section-divider {
  background-color: $trees-primary;
  height: 5px;
  width: 100%;
}

#volslider {
  height: 10px;
  width: 20%;
  }

.ui-slider-range {
  background: $trees-primary;
}

.ui-slider-handle {
  border-color: $trees-primary;
}



// /* KEEP NEAR BOTTOM */
// .video-js {padding-top: 56.25%}
// .vjs-fullscreen {padding-top: 0px}



//
// Chat
//

#chatcontainer {
  height: 100%;
}

#chatbox {
  list-style: none;
  padding-left: 0;
}

#chatscroll {
  height: 88%;
  overflow: auto;
	//overflow-y: hidden;
}

.chat-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $chat-item-border;
  color: $chat-item-color;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-top: 3px;
}

.chat-text {
	//vertical-align: bottom;
}

.chat-username {
  color: #800080;
  font-size: small;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

#sendbox {
  padding-left: 5px;
  padding-top: 5px;
	//margin-bottom: 10px;
	//bottom: 10px;
	//width: 90%;
}

#chatinput {
  width: 100%;
	//margin-bottom: 20px;
}

#sendchat {
  padding-left: 5px;
  width: 10%;
	//margin-bottom: 20px;
}

/*************************************************************
* Michael's Section
**************************************************************/
