//	TREES RADIO PRE-MINIFICATION SASS
//
//	Bootswatch Bootstrap Theme: https://bootswatch.com/cyborg/
//	Success and primary colors swapped.
//
//	Common colors:
//		main: #77b300  (used for bootswatch primary color)
//

// IMPORT EXTERNALS
@import '~sweetalert/dist/sweetalert.css';
@import '~font-awesome/css/font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

//
// VARIABLES (SASS FEATURE, IGNORE POST-COMPILE)
// Must come before component imports
//
$trees-primary: #77b300;
$trees-bg: #0A0A0A;

// IMPORT COMPONENTS
@import './components/Nav/Nav';
@import './components/Sidebar/Sidebar';
@import './components/Video/Video';
@import './components/Playlists/Playlists';
// @import './components/';

html,
body {
  height: 100%;
  overflow-y: hidden;
}

.placeholder-txt {
  text-align: center;
  vertical-align: middle;
}

#app {
  height: 100%;
}

#app > div {
  height: 100%;
  width: 100%;
}

#app:-webkit-any-link {
    cursor: auto;
}

/* Components Container */

.container-fluid
{
    height: 100%;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row
{
    height: 100%;
    width: 100%;
    margin: 0;
}
