@import "../core/mixins";

div.leaderboard-list {
  width: 100%;
  display: table;
}

div.leaderboard-row {
  display: table-row;
  vertical-align: middle;
  font-size: 1.2em;
  width: 100%;
  padding-bottom: 5px;
}

span.leaderboard-cell-rank {
  @include leaderboard-table-cell;

  font-size: 24px;
  width: 2.8em;
}

span.leaderboard-cell-avatar {
  @include leaderboard-table-cell;

  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding-right: 10px;
}

span.leaderboard-cell-username {
  @include leaderboard-table-cell;
}

span.leaderboard-cell-songtitle {
  @include leaderboard-table-cell;
}

span.leaderboard-cell-song-thumb > img {
  @include leaderboard-table-cell;
  display: inline-flex;
  max-width: 6.3vw;
  height: 100px;
  float: right;
}

span.leaderboard-cell-song-thumb {
  display: inline-flex;
  max-width: 6.3vw;
}

#songHistory-img {
  display: inline-flex;
  max-width: 6.3vw;
}