@import "../core/variables";
@import "../core/mixins";

@include fontResize(19);

html,
body {
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: $color-trees-primary !important;
  background-color: $color-trees-bg;
  font-family: "Open Sans", sans-serif;
}

#app {
  height: 100%;
}

#app:-webkit-any-link {
  cursor: auto;
}

#app > div {
  height: 100vh;
}

#app-grid {
  display: grid;
  grid:
    [row1-start] "nav nav" 5rem [row1-end]
    [row2-start] "player chat" auto [row2-end]
    [row3-start] "toolbar chat" 10rem [row3-end]
    / 3fr 1fr;
}

#vidcontainer,
#player-size {
  height: 100%;
}

#toolbar {
  grid-area: toolbar;
}

#videotoplevel {
  grid-area: player;
}

#chattoplevel {
  grid-area: chat;
}

h4 {
  font-size: 16px;
  min-height: 35px;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.modal-dialog {
  margin-top: 155px;
  width: 720px;
}

.fade {
  opacity: 0.99;
}

.toast-box {
  z-index: 99999;
}

.Toastify__toast-container {
  position: fixed;
}

.april-fools {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.modal-content {
  background-color: #202020;
  color: #888;
}

.btn-primary {
  background-color: $color-trees-primary;
}

.btn-default {
  background-color: $color-trees-primary;
}

.navbar,
.navbar-default {
  border: none;
}

.btn,
.btn-primary {
  border-color: #87a310;
}

.dropdown-menu {
  background-color: $color-trees-bg;
  color: $color-trees-primary;
}

.dropdown-menu > li > a {
  color: #87c300;
}

.placeholder-txt {
  text-align: center;
  vertical-align: middle;
}

.main-load {
  transition: all 2s !important;
  transition-timing-function: ease-in-out !important;
  transition-property: all;
  transition-delay: 2s;
  height: 100%;
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
}

.main-loadingcard {
  width: 420px;
  height: 242px;
  background-color: $color-loading-bg;
  background-image: $img-trees-favicon;
  background-repeat: no-repeat;
  background-position: center 42vh;
  background-size: 17vh;
  color: white;
  font-size: 28px;
  position: center;
  margin: auto;
  border-radius: 20px;
  display: table;
  padding: 0;
}

.main-center {
  background-size: cover;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

.disabledNoLogin {
  //indicator class for disabling buttons
}

.greyDisabled {
  background: grey !important;
  border-color: darkgrey !important;
}

div .userbit-avatar span .avatarimg {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
}

.user-avatar-preview-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.main-vcenter {
  background-size: 5vh 5vh;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.main-loading {
  background-size: cover;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 20%;
}

.loadingscreenwheel {
  //TODO needed?
}

.loading-txt {
  margin-top: 50vh;
}

/* Components Container */

.container-fluid {
  background-size: cover;
  width: 100vw;
  padding: 0; // set left/right padding according to needs
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease-in-out !important;
  transition-timing-function: ease-in-out !important;
  transition-property: all;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
}

.sweet-alert button.cancel {
  background-color: #686868 !important;
}

.sweet-alert button {
  background-color: #17a8eb !important;
}

.sweet-alert input {
  background-color: #c1c1c1;
  color: black;
}
