@import "../core/variables";
@import "../core/mixins";

// toolbar on mobile browsers hides whatever is below it, causing display issues on TR mobile
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

html,
body {
  background-size: cover;
  height: 100vh;
  font-size: 16px;
  overflow: hidden;
  color: $color-trees-primary !important;
  background-color: $color-trees-bg;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

input {
  font-size: 16px !important; // if font-size is smaller that 16px on inputs, ios zooms in and users have trouble zooming out
}

#app {
  height: 100%;
}

#app:-webkit-any-link {
  cursor: auto;
}

#app > div {
  height: 100vh;
}

#app-grid {
  display: grid;
  grid:
    [row1-start] "nav nav" $navbar-height [row1-end]
    [row2-start] "player chat" auto [row2-end]
    [row3-start] "toolbar chat" $sidebar-height [row3-end]
    / 3fr 1fr;
}

#vidcontainer,
#player-size {
  height: 100%;
}

#toolbar {
  grid-area: toolbar;
  z-index: 2;
}

#videotoplevel {
  grid-area: player;
}

#chattoplevel {
  grid-area: chat;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 1em;
  min-height: 35px;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.modal-dialog {
  margin-top: 155px;
  width: 720px;
}

.fade {
  opacity: 0.99;
}

.toast-box {
  z-index: 99999;
}

.Toastify__toast-container {
  position: fixed;
}

.april-fools {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.modal-content {
  background-color: #202020;
  color: #888;
}

.btn-primary {
  background-color: $color-trees-primary;
}

.btn-default {
  background-color: $color-trees-primary;
}

.navbar,
.navbar-default {
  border: none;
}

.btn-primary {
  color: white;
}

.btn,
.btn-primary {
  height: 100%;
  text-shadow: 0.75px 0 0 #000, -0.6px 0 0 #000, 0 0.5px 0 #000, 0 -0.6px 0 #000, 0.6px 0.6px #000, -0.6px -0.6px 0 #000,
    0.6px -0.6px 0 #000, -0.6px 0.6px 0 #000;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  height: 100%;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
}

.dropdown-btn {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  vertical-align: middle;
  text-align: center;
  font-size: large;
  // width: calc(100% - 3rem);
}

.dropdown-list {
  position: absolute;
  z-index: 420;
  // top: calc(#{$playlist-search-height} + 6px);
  left: 0.75rem;
  background-color: $color-trees-bg;
  width: 15rem;
}

.dropdown-list.to-right {
  right: 0;
  left: auto;
}

.dropdown-menu {
  background-color: $color-trees-bg;
  color: $color-trees-primary;
  z-index: 422;

  font-size: 1.2em;
  width: 16rem;
}

.dropdown-inner-text {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.dropdown-menu > div > span {
  padding: 0.4rem;
}

.dropdown-menu > div > span > a {
  color: #87c300;
}

.placeholder-txt {
  text-align: center;
  vertical-align: middle;
}

.form-control:focus {
  background-color: #fff;
  border-color: $color-trees-primary !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($color-trees-primary, 0.25) !important;
}

.main-load {
  transition: all 2s !important;
  transition-timing-function: ease-in-out !important;
  transition-property: all;
  transition-delay: 2s;
  height: 100%;
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
}

.main-loadingcard {
  width: 420px;
  height: 242px;
  background-color: $color-loading-bg;
  background-image: $img-trees-favicon;
  background-repeat: no-repeat;
  background-position: center 42vh;
  background-size: 17vh;
  color: white;
  font-size: 2em;
  position: center;
  margin: auto;
  border-radius: 20px;
  display: table;
  padding: 0;
}

.main-center {
  background-size: cover;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

.disabledNoLogin {
  //indicator class for disabling buttons
}

.greyDisabled {
  background: grey !important;
  border-color: darkgrey !important;
}

div .userbit-avatar span .avatarimg {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
}

.user-avatar-preview-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.main-vcenter {
  background-size: 5vh 5vh;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.main-loading {
  background-size: cover;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 20%;
}

.loadingscreenwheel {
  //TODO needed?
}

.loading-txt {
  margin-top: 50vh;
}

/* Components Container */

.container-fluid {
  background-size: cover;
  width: 100vw;
  padding: 0; // set left/right padding according to needs
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease-in-out !important;
  transition-timing-function: ease-in-out !important;
  transition-property: all;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
}

.sweet-alert button.cancel {
  background-color: #686868 !important;
}

.sweet-alert button {
  background-color: #17a8eb !important;
}

.sweet-alert input {
  background-color: #c1c1c1;
  color: black;
}

.form-control {
  display: block;
  width: calc(100% - 24px);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

#tr-nav {
  .input-group {
    display: flex;
    align-items: center;
  }

  input {
    height: 1rem;
  }
}

.modal-content {
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
  }

  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-group > .btn:first-child {
    margin-left: 0;
  }

  .btn-group-vertical > .btn,
  .btn-group > .btn {
    position: relative;
    float: left;
  }

  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
    margin-left: -1px;
  }
  .btn-group-vertical > .btn.active,
  .btn-group-vertical > .btn:active,
  .btn-group-vertical > .btn:focus,
  .btn-group-vertical > .btn:hover,
  .btn-group > .btn.active,
  .btn-group > .btn:active,
  .btn-group > .btn:focus,
  .btn-group > .btn:hover {
    z-index: 2;
  }
  .btn-group-vertical > .btn,
  .btn-group > .btn {
    position: relative;
    float: left;
  }
  .btn.focus,
  .btn:focus,
  .btn:hover {
    color: #333;
    text-decoration: none;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  .btn.focus,
  .btn:focus,
  .btn:hover {
    color: white;
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    text-shadow: none;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .input-group-addon:last-child {
    border-left: 0;
  }
  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .input-group-addon,
  .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
  .input-group .form-control,
  .input-group-addon,
  .input-group-btn {
    display: table-cell;
  }

  .form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  }
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
