@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../core/variables";

#tr-nav {
  max-height: $navbar-height;
  top: 0 !important;
  min-height: 4rem;
}

#tr-watermark {
  overflow: hidden;
}

#toke-button {
  place-self: flex-start;
  padding: 0 1rem 0;
  display: flex;
  color: white;
  text-shadow: $text-shadow-light;
  flex-flow: row nowrap;
  place-items: baseline;
  font-size: $navbar-font-size;
  height: 100% !important;
  background: $color-button-toke;
  border-radius: $button-border-radius;
  align-items: center;
  cursor: pointer;
}

.toke-active {
  background: $color-button-waitlist-active-invrt;
}

#navbar-grid {
  top: 0;
  display: flex !important;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}

#navbar-space {
  display: inline-flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  height: inherit;
  width: inherit;
}

#navbar-grid::before {
  display: none !important;
  content: none !important;
}

.navbar-header {
  padding-bottom: 1vh;
  display: flex;
  align-items: baseline;
  align-self: baseline;
  float: left !important;
  padding-bottom: 0;
}

.navbar-item {
  overflow: hidden;
}

.nav-title {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  transition: 250ms;
  overflow: hidden;
}

.nav-title:hover {
  color: #77b300;
}

.navbar {
  margin-bottom: 1px;
  background-color: #0c0c0e;
  min-height: auto;
}

.navbar-collapse {
  max-width: 75%;
  max-height: 50px;
  float: right;
}

.navbar-default {
  background-color: $color-trees-bg;
}

.navbar-brand {
  line-height: normal !important;
  position: relative;
  font-size: 150%;
  width: 25rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  vertical-align: baseline;
  overflow: hidden;
  margin-top: 0.75vh;
  margin-left: 1rem;
  padding: 0 !important;
  height: auto;
}

//Trees Radio Logo Color
.navbar-default .navbar-brand {
  color: #77b300; // old color = 77b300
}

#usernametop.btn.btn-primary {
  background-color: #77b300;
}

#usernamedropdown.btn.btn-primary.dropdown-toggle {
  background-color: #77b300;
}

#userbitContainer .dropdown-menu {
  right: 0;
  left: auto;
}

.collapse {
  display: block;
}

.login-form-button {
  place-self: center;
  display: flex;
  flex-flow: row nowrap;
  place-items: baseline;
  font-size: $navbar-font-size;
  height: $navbar-button-height !important;
  line-height: $navbar-button-height / 2 !important;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

#loginForm {
  display: inline-flex;
  flex-flow: row nowrap;
  place-items: baseline;
}

#loginWrapper {
  place-self: start;
  display: inline-flex;
  height: 100%;
}

#emailpassfields {
  z-index: 2;
  place-self: center;
  margin-bottom: unset !important;
  display: flex;
}

#loginButtons {
  display: inline-flex;
  place-self: center;
}

#loginButtons button {
  border-radius: $button-border-radius;
}

#loginbutton {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-weight: bold;
  text-shadow: $text-shadow-heavy;
  letter-spacing: 1.5px;
  border-radius: 0;
}

#reset-password-btn {
  margin-left: 0.5vw;
  font-weight: bold;
  text-shadow: $text-shadow-heavy;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius: 0;
}

#regbutton {
  font-weight: bold;
  text-shadow: $text-shadow-heavy;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius: 0;
  color: white;
}

#userbit-wrapper {
  margin-right: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: $navbar-button-height !important;
  max-height: $navbar-button-height !important;
  place-self: start start;
  place-items: baseline;
  font-size: 0.75 * $navbar-font-size !important;
  border-radius: 0 !important;
}

div .userbit-avatar span .avatarimg {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
}

.user-avatar-preview-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 2vh;
}

#ytregcheck {
  margin-top: 5px;
  border-radius: 0;
  padding: -2px;
}

#logoutbutton {
  margin-top: 6px;
  margin-right: 10px;
  font-weight: bold;
  text-shadow: $text-shadow-heavy;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius: 0;
}

#usernametop {
  margin-top: 0.75vh;
  text-shadow: $text-shadow-heavy;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#usernamedropdown {
  margin-left: 0;
  margin-right: 5px;
  margin-top: 6px;
  text-shadow: $text-shadow-heavy;
  font-size: 110%;
  border-radius: 0;
}

#emailbox {
  margin-right: 5px;
}

.version-tag {
  font-size: 50%;
}

#toketimer-container {
  justify-self: start;
  // height: 100%;
}

#userbit-container {
  place-self: start end;
  margin-bottom: 0.5vh;
}

#hype-grid-container {
  place-content: center;
  margin-left: 0.75rem;
}

#usernav-container {
  place-self: center;
  margin-top: -10px;
  display: inline-flex;
  flex-flow: row nowrap;
  place-content: baseline;
  width: 100% !important;
  height: 100% !important;
}

#hype-container {
  display: inline-flex;
  flex-flow: row nowrap;
  height: 100%;
}

.hypepb {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), inset 1px 1px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), inset 1px 1px 20px rgba(0, 0, 0, 0.5);
  width: 13.5vw;
  height: 100%;
  border-radius: $button-border-radius;
  overflow: hidden;
  text-align: center;
  font-size: $navbar-font-size-dynamic;
  font-weight: bold;
  color: rgb(26, 17, 26);
  cursor: url("../../img/lighter.cur"), pointer;
  //background: #77b420;
  line-height: 3.2vh;
}

.hypeprogress {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 1.5vw;
  height: 100%;
  border-radius: $button-border-radius;
  background: $color-button-hype;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#hypeboom {
  height: 100%;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.hypedone {
  text-align: center;
  line-height: 3vh;
  font-weight: bold;
  color: white;
  text-shadow: 0.5px 0 0 #000000, -0.5px 0 0 #000000, 0 0.5px 0 #000000, 0 -0.5px 0 #000000, 0.5px 0.5px #000000,
    -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, -0.5px 0.7px 0 #000000;
  width: 13.5vw;
  height: $navbar-button-height;
  //text-shadow: $text-shadow-heavy;
  cursor: $img-cursor-lighter, pointer;
}

.hypedone:active {
  -webkit-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.4);
  border-radius: $button-border-radius;
  cursor: url("../../img/lighter.cur"), pointer;
}

.hypepb:hover #progress {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  //width: 125px;
}

.hypeprogress a:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
  color: white;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* #### Explosive Hype Button #### */

/* Copyright (c) 2020 by Jon Kantner (https://codepen.io/jkantner/pen/oNjjEaJ)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE */

.exploding {
  pointer-events: none;
  position: relative;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  content: none;
}

.exploding,
.exploding:focus,
.exploding:hover,
.exploding > div {
  background: transparent;
  color: transparent;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.particle--debris {
  background: $color-trees-primary;
  background: $color-button-hype;
}

.particle--fire {
  border-radius: 50%;
}
