@import "../core/variables";

#playlists-container {
  width: 100%;
  float: right;
  //margin-top: 4px;
}

.media-time {
  float: right;
  background-color: $color-controlarea-background;
  position: absolute;
  padding-left: 0.5em;
  z-index: 2;
  right: 0;
}

.current-playlist-name {
  color: #77b300 !important;
}

.current-selected-media {
  color: #77b300 !important;
}

.slidecontainer {
  width: 15rem;
  display: inline-block;
  padding-left: 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: #77b300;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #77b300;
  cursor: pointer;
}

#playlists-panel {
  position: absolute;
  width: 100%;
  bottom: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#playlists-footer {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  background-color: rgba(11, 11, 11, 0.5);
}

.playlist-shuffle-btn {
  padding-top: 1.25%;
  padding-right: 1%;
  float: right;
  color: #77b300;
  cursor: pointer;
  z-index: 2;
}

.playlists-panel-closed {
  height: 0;
  overflow: hidden;
  transition: all 0.15s ease-in 50ms;
  -webkit-transition: all 0.15s ease-in 50ms;
  -moz-transition: all 0.15s ease-in 50ms;
  -o-transition: all 0.15s ease-in 50ms;
  background-color: $color-trees-bg;
}

.playlists-panel-open {
  height: 90%;
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-width: thin;
  border-color: black;
  transition: all 0.15s ease-in 50ms;
  -webkit-transition: all 0.15s ease-in 50ms;
  -moz-transition: all 0.15s ease-in 50ms;
  -o-transition: all 0.15s ease-in 50ms;
}

.pl-thumbnail {
  width: 5%;
}

.pl-time {
  padding-right: 2%;
  font-size: 12px;
}

.pl-channel {
  color: gray;
}

.add-to-playlist-btn {
  float: right;
  cursor: pointer;
  padding-right: 5px;
}

#playlist-ul,
#playlist-ol {
  height: 90%;
  margin-top: 1%;
  padding-right: 0;
  overflow-y: auto;
}

#playlists-panel-display {
  flex-grow: 1;
  overflow-y: auto;

  li {
    padding: 10px;
    color: #77b300;
  }

  ul li {
    list-style-position: inside;
    list-style-type: none;
  }

  ol li {
    margin-left: 1rem;
  }
}

#playlist-ul::-webkit-scrollbar {
  width: 1em;
}

#playlist-ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#playlist-ul::-webkit-scrollbar-thumb {
  background-color: #343642;
  outline: 1px solid slategrey;
}

#playlist-search-box {
  width: 30vw;
  height: 45px;
  margin-right: 0.5vw;
  float: left;
  font-size: 1.25em;
}

#playlist-btn {
  width: 15vw;
}

.remove-from-playlist-btn {
  float: right;
  cursor: pointer;
}

.pl-move-to-top {
  float: right;
  cursor: pointer;
  margin-right: 1%;
}

#playlist-dropdown {
  background-color: #579300;
  border-color: #609606;
  //padding: 2px; Bacchus request March'20
  text-shadow: $text-shadow-heavy;
  font-size: 1.5vw;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#pl-carat {
  margin-left: 4%;
  margin-top: 5%;
}

#playlists-panel-head {
  width: 100%;
}

.playlist-item-1 {
  background-color: rgba(36, 38, 46, 0.5);
}

.playlist-item-2 {
  background-color: rgba(11, 11, 11, 0.5);
}

.pl-media-title {
  padding-left: 3%;
  padding-right: 2%;
  font-size: 125%;
}

.pl-timestamp {
  font-size: 125%;
}

#playlists-bar {
  width: 100%;
  color: $color-trees-primary;
  height: 100%;
  background-color: #0c0c0e;
  float: left;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 20s ease-in-out infinite;
  // text-align: right;
}

#cstmEaseIn {
  margin: 0 0;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation-name: cstmEaseInOut;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: relative;

  --PLlength: 9.5em;
  // text-align: right;
}

@keyframes cstmEaseInOut {
  from {
    left: 0;
  }

  50% {
    left: calc(-100% - 19em); //var(--PLlength) TODO huh...?!?
  }

  to {
    left: 0;
  }
}

.current-selected-media,
.current-playing-media {
  display: inline-block;
  float: left;
  color: #77b300;
}

.current-selected-media:hover,
.current-playing-media:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(-101%);
  }
}

.waitlist {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  line-height: 75px;
  text-align: center;
  display: table-cell;
  align-items: center;
  cursor: pointer;

  a {
    text-decoration: none;
  }
}

.dropdown-menu {
  width: auto;
}

.dropdown-menu > li > a {
  float: left;
  width: 100%;
  overflow-x: hidden;
}

#playlist-metadata {
  height: 100%;
  max-height: 9vh;
  width: 19em;
  color: $color-trees-primary !important;
  border-top: solid $color-border-top;
  border-right: solid;
  border-bottom: solid;
  border-bottom-color: #0c0c0e;
  border-right-width: 10px;
  border-right-color: #0c0c0e;
  font-size: 1.15vw;
  line-height: 4.1vh;
  padding: 0 5px;
  overflow-x: hidden;
  scrollbar-width: 10px;
}

#playlist-metadata a {
  text-decoration: none;
}

#playlist-metadata::-webkit-scrollbar {
  display: none;
}

#currentsong-metadata {
  height: 100%;
  border-top: solid;
  border-bottom: solid;
  border-color: #2d2f39;
  font-size: 1.15vw;
  line-height: 4.5vh;
  padding: 0;
  overflow-x: hidden;
  text-align: right;
  border-left: #0c0c0e solid 0.5em;
  border-right: #0c0c0e solid 0.5em;
  border-bottom-color: #0c0c0e;
}

#currentsong-metadata a {
  text-decoration: none;
}

#currentsong-metadata::-webkit-scrollbar {
  display: none;
}

#grabtrack {
  height: 9vh;
  cursor: pointer;
  font-size: 150%;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 25px;
}

#playlists-open-button {
  height: 100%;
  cursor: pointer;
  width: 4.4vw;
  font-size: 0.75vw;
  border-right: solid;
  border-color: #2d2f39;
  background: $color-button-open-playlists;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

#playlists-open-button:hover {
  background: $color-button-open-playlists-hover;
}

#playlists-open-icon {
  color: white;
  text-shadow: $text-shadow-light;
  letter-spacing: 1.5px;
  line-height: calc(9vh + 2px);
  height: inherit;
  width: inherit;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 0;
}

#vote {
  height: 9vh;
  cursor: pointer;
  font-size: 150%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  a {
    text-decoration: none;
  }
}

#pl-dd-menu {
  font-size: 110%;
  padding-top: 0;
  border-top-width: 0;
  margin-top: 0;
  max-height: 70vh;
  overflow-y: auto;
}

#pl-dd-menu::-webkit-scrollbar {
  width: 1em;
}

#pl-dd-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#pl-dd-menu::-webkit-scrollbar-thumb {
  background-color: #343642;
  outline: 1px solid slategrey;
}

#pl-dd-menu > li > a {
  width: 87%;
}

@media (min-width: 0) {
  .waitlist {
    width: 14.825%;
  }
}

.add-to-playlist-button {
  cursor: pointer;
}

.remove-playlist {
  cursor: pointer;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  background-color: inherit;
}

.track {
  height: 100%;
}

.track-0 {
  background-image: linear-gradient(to right, #fffc00, #ffa71e);
  border-radius: 5px;
}

.volume-slider {
  height: 49%;
  width: 95%;
  margin: 0 auto;
}

.volume-slider-icon {
  position: absolute;
  z-index: 2;
  font-size: 1.15vw !important;
  text-align: right;
  padding: 0;
  line-height: 5.5vh !important;
  right: 3.75vw;
  // margin-left: -40%;
  color: white;
  text-shadow: $text-shadow-light;
  pointer-events: none;
  top: 2.1vw;
}

.fa-volume-off {
  right: 3.75vw;
}

.fa-volume-down {
  right: 3.75vw;
}

.volume-slider-node {
  height: 100%;
  overflow-x: hidden;
}

.volume-slider-handle {
  display: none;
}

.volume-slider-handle-active {
  height: 25px;
  width: 5px;
  border-radius: 10px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  margin-top: 0.3vw;
  background-color: #77b300;
  border: 1px solid #2e2e38;
}

.volume-slider-bar {
  background-color: #77b300;
  height: 100%;
}

.volume-slider-bar-active {
  background-color: white;
}

.volume-slider-bar-0 {
  background: linear-gradient(135deg, rgba(119, 179, 0, 1) 35%, rgba(151, 211, 32, 1) 100%);
  border-radius: 9px;
}

.volume-slider-bar-1 {
  background-color: #000;
}

.playlist-loading {
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 20%;
}

.toolbar-playertxt {
  float: left;
  color: $color-trees-primary;
  cursor: pointer;
  max-width: 7em;
  text-align: left;
  background-color: $color-controlarea-background;
  position: inherit;
  padding-right: 0.5em;
  z-index: 2;
}

.current-playing-user {
  float: left;
  color: $color-trees-primary;
  cursor: pointer;
  max-width: 16em;
  text-align: left;
  position: inherit;
  z-index: 1;
}
