@import "../core/variables";

#usernametop {
  display: flex;
  border-radius: 0 !important;
  vertical-align: baseline;
  text-align: center;
  align-self: baseline;
  align-content: baseline;
  max-width: 15vw;
  height: $navbar-button-height;
}

#usernamedropdown {
  height: $navbar-button-height;
  border-radius: 0 !important;
}

#username {
  place-self: center;
}

#userbit-dropdown {
  margin-right: 1.75vw !important;
}

#userbit-expander {
  margin-left: 10px;
}

div .userbit-avatar span .avatarimg {
  height: 2.5rem !important;
  width: 2.5rem !important;
  place-self: center;
  align-content: baseline;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.userbit-avatar {
  place-self: center;
}

.user-avatar-preview-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 2vh;
}

@media only screen and (max-width: 1625px) {
  #username,
  #usernamedropdown {
    //max-width: 10vw;
    font-size: 0.7 * $navbar-font-size;
  }
}

@media only screen and (max-width: 1730px) {
  #username,
  #usernamedropdown {
    max-width: 11vw;
    font-size: 0.65 * $navbar-font-size;
  }
}

@media only screen and (max-width: 1300px) {
  #username, #usernamedropdown {
    font-size: 0.6 * $navbar-font-size;
    //max-width: 8vw;
  }
}

@media only screen and (max-height: 1000px) {
  div .userbit-avatar span .avatarimg {
    height: 2rem !important;
    width: 2rem !important;
  }

}

@media only screen and (max-height: 630px) {
  div .userbit-avatar span .avatarimg {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}

@media only screen and (max-height: 500px) {
  div .userbit-avatar span .avatarimg {
    height: 1rem !important;
    width: 1rem !important;
  }
}

div.modal-dialog {
  max-height: 30vh;
}
