// http://enjoycss.com/zbuttram/item/rQX/3
@import "../core/variables";
@import "../core/mixins";

.fa-thumbs-o-down {
  position: absolute;
  padding-top: 0.38vw;
  right: 3.75vw;
}

.fa-thumbs-down {
  position: absolute;
  padding-top: 0.38vw;
  right: 3.75vw;
}

.feedback-dislikes {
  float: right;
  padding-right: 1.75vw;
  padding-top: 0.1vw;
}

.dislike-button {
  grid-area: dislike;
  @include toolbar-button-small;

  color: $color-button-text;
  background: $color-button-dislike;
}

.dislike-button:hover {
  background: $color-button-dislike-hover;
}

.dislike-button:active {
  background: $color-button-dislike-active 50% 50%;
  transition-duration: 10ms;
}
