// http://enjoycss.com/zbuttram/item/rQV/3
@import "../core/variables";
@import "../core/mixins";

.grab-icon {
  font-size: 125%;
}

.feedback-grab {
  float: right;
  padding-right: 1.5vw;
  padding-top: 0.1vw;
}

.grab-button {
  @include toolbar-button-small;

  color: $color-button-text;
  background: $color-button-grab;
  line-height: 1.75vw;
}

.grab-button:hover {
  background: $color-button-grab-hover;
}

.grab-button:active {
  background: $color-button-grab-active 50% 50%;
  transition-duration: 10ms;
}

.grab-playlists {
  width: 375%;
  background: $color-grab-panel;
  position: absolute;
  bottom: 110%;
  left: -9em;
  color: black;
  border-radius: 2%;
  text-align: left;
  overflow-y: scroll;
  max-height: 420px;
  z-index: 1000;
}

.grab-playlists::-webkit-scrollbar {
  width: 1em;
}

.grab-playlists::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.grab-playlists::-webkit-scrollbar-thumb {
  background-color: #343642;
  outline: 1px solid slategrey;
}

.grab-playlist {
  width: 100%;
  line-height: 12px;
  color: $color-button-text;
  font-size: $toolbar-grab-panel-font-size;
  padding: 2%;

  span {
    width: 92%;
  }

  .fa {
    width: 8%;
    float: right;
  }
}

.grab-playlist:hover {
  background-color: $color-trees-primary;
}
