// http://enjoycss.com/zbuttram/item/rQV/3
@use "../core/variables" as vars;
@use "../core/mixins" as mix;

.grab-button {
  grid-area: grab;
  @include mix.toolbar-button-small;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: vars.$color-button-text;
  background: vars.$color-button-grab;
}

.grab-button:hover {
  background: vars.$color-button-grab-hover;
}

.grab-button:active {
  background: vars.$color-button-grab-active 50% 50%;
  transition-duration: 10ms;
}

.grab-playlists {
  width: 25rem;
  background: vars.$color-grab-panel;
  position: absolute;
  right: 0;
  bottom: calc(#{vars.$sidebar-height} + 0.5rem);
  color: black;
  border-radius: vars.$button-border-radius;
  text-align: left;
  overflow-y: scroll;
  max-height: 420px;
  z-index: 1000;
}

.grab-playlists::-webkit-scrollbar {
  width: 1em;
}

.grab-playlists::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.grab-playlists::-webkit-scrollbar-thumb {
  background-color: #343642;
  outline: 1px solid slategrey;
}

.grab-playlist {
  line-height: 12px;
  color: vars.$color-button-text;
  font-size: vars.$toolbar-grab-panel-font-size;
  padding: 2%;

  span {
    width: 92%;
  }

  .fa {
    width: 8%;
    float: right;
  }
}

.grab-playlist:hover {
  background-color: vars.$color-trees-primary;
}
