
// http://enjoycss.com/zbuttram/item/rQT/1

.join-waitlist {
  line-height: 4.5vw;
  width: 95%;
  margin: 0 auto;
  box-sizing: content-box;
  cursor: pointer;
  color: white;
  text-overflow: clip;
  background: linear-gradient(135deg, rgba(119,179,0,1) 35%, rgba(155,255,76,1) 100%);
  transition: background 500ms ease;
  border-radius: 6px;
  background-size: 125%;
}

.join-waitlist:hover {
  background-position: -1vw;
}

.join-waitlist:active {
  background-color: rgba(102,154,0,1);
}


.join-waitlist-pressed {
  background: linear-gradient(135deg, rgba(156,47,234,1) 35%, rgba(219,100,193,1) 100%);
  transition: background 500ms ease;
  background-size: 125%;
}

.join-waitlist-pressed:hover {
  background-position: -1vw;
}
