// http://enjoycss.com/zbuttram/item/rQT/1
@import "../core/variables";

.join-waitlist {
  height: 100%;
  background: $color-button-waitlist-join;
  color: white;
  margin: 0 auto;
  box-sizing: content-box;
  cursor: pointer;
  text-shadow: $text-shadow-light;
  letter-spacing: 1.5px;
  font-size: 1.5em;
  text-overflow: clip;
  transition: background 500ms ease;
  border-radius: $button-border-radius;
  background-size: 125%;
}

.join-waitlist:hover {
  background-position: -1vw;
}

.join-waitlist-pressed {
  background: $color-button-waitlist-active;
  transition: background 500ms ease;
  background-size: 125%;
  color: white;
  text-shadow: $text-shadow-light;
  letter-spacing: 1.5px;
  font-size: 1.8em !important;
}

.join-waitlist-pressed:hover {
  background-position: -1vw;
}
