// http://enjoycss.com/zbuttram/item/rQW/2
@import "../core/variables";
@import "../core/mixins";

.like-icon {
  font-size: 125%;
}

.feedback-likes {
  float: right;
  padding-right: 1.75vw;
  padding-top: 0.1vw;
}

.like-button {
  @include toolbar-button-small;

  color: $color-button-text;
  background: $color-button-like;
}

.like-button:hover {
  background: $color-button-like-hover;
}

.like-button:active {
  background: $color-button-like-active 50% 50%;
  transition-duration: 10ms;
}
