
#playlists-container {
  height: 10%;
  max-height: 10%;
  width: 100%;
}

#playlists-panel {
  position:absolute;
  height: 0px;
  width: 84%;
}

#playlists-bar {
  position: absolute;
  width: 84%;
  height: 80px;
  background-color: $trees-bg;
  border-radius: 5px;
  border-style: solid;
  border-color: #77b300;
  float: left;
}

#playlists-open-button {
  height: 100%;
  border-right: solid;
  border-color: #77b300;
  cursor: pointer;
}

#playlists-open-icon {
  color: #77b300;
  height: 100%;
  width: 100%;
  line-height: 75px;
  text-align: center;
}

#playlist-metadata {
  height: 100%;
  border-right: solid;
  border-color: #77b300;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.5;
}

#playlist-metadata a {
  text-decoration: none;
}

#currentsong-metadata {
  height: 100%;
  border-right: solid;
  border-color: #77b300;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.5;
}

#currentsong-metadata a {
  text-decoration: none;
}

#grabtrack {
  height: 100%;
  border-right: solid;
  border-color: #77b300;
  cursor: pointer;
  font-size: 150%;
  line-height: 75px;
  text-align: center;
}

#grabtrack a {
  text-decoration: none;
}

#vote {
  height: 100%;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.8;
  text-align: center;
}

#vote a {
  text-decoration: none;
}
