
#playlists-container {
  height: 10%;
  max-height: 10%;
  width: 100%;
}

#playlists-bar {
  position: absolute;
  width: 84%;
  height: 80px;
  background-color: $trees-bg;
  border-radius: 5px;
  border-style: solid;
  border-color: #77b300;
  float: left;
}

#playlists-open-button {
  height: 100%;
  width: 5%;
  border-right: solid;
  border-color: #77b300;
  cursor: pointer;
}

#playlists-open-icon {
  color: #77b300;
  height: 100%;
  width: 100%;
  line-height: 75px;
  text-align: center;
}

#playlists-panel {
  position:absolute;
  height: 0px;
  width: 84%;

}
