
@import './Buttons/join-waitlist';
@import './Buttons/grab-button';
@import './Buttons/like-button';
@import './Buttons/dislike-button';

#playlists-container {
  height: 10%;
  max-height: 10%;
  width: 100%;
}

#playlists-panel {
  position:absolute;
  width: 98%;
  bottom: 10%;
  overflow: hidden;
}

.playlists-panel-closed {
  height: 0px;
  overflow: hidden;
}

.playlists-panel-open {
  height: 86%;
  background-color: $trees-bg;
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-color: #77b300;
  border-radius: 5px;
}

#playlists-panel-display {
  height: 100%;
}

#playlist-ul {
  height: 100%;
  margin-top: 1%;
  padding-left: 0;
  padding-right: 0;
}

#playlists-panel-display {
  li {
    list-style-position: inside;
    list-style-type: none;
    padding: 20px;
    color: #77b300;
  }
}

#playlist-search-box {
  width: 75%;
  height: 45px;
  margin-left: 1%;
  margin-top: 1%;
  float: left;
}

#pl-current-playlist {

  margin-left: 20%;
  margin-right: 0;
  margin-top: 7.5%;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 125%;
  float:left;
}

#playlist-btn {
  width: 24%;
}

#playlist-dropdown {
  background-color: $trees-bg;
  border-color: $trees-bg;
  float: right;
  margin-top: 5%;
  margin-right: 27%;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 2.25px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  font-size: 120%;
}

#pl-dd-menu {
  margin-left: 30%;
  font-size: 110%;
}

#playlists-panel-head {
  width: 100%;
}

.playlist-item-1 {
  background-color: #121317;
}

.playlist-item-2 {
  background-color: #0A0A0A;
}

.pl-media-title {
  padding-left: 3%;
  padding-right: 77%;
  font-size: 125%;
}

.pl-timestamp{
  font-size: 125%;
}


#playlists-bar {
  position: absolute;
  width: 98%;
  height: 80px;
  background-color: $trees-bg;
  border-radius: 5px;
  border-style: solid;
  border-color: #77b300;
  float: left;
}

#playlists-open-button {
  height: 100%;
  cursor: pointer;
  width: 5%;
}

#playlists-open-icon {
  color: #77b300;
  height: 100%;
  width: 100%;
  line-height: 75px;
  text-align: center;
}

#playlist-metadata {
  height: 100%;
  width: 30%;
  border-right: solid;
  border-color: #77b300;
  font-size: 150%;
  line-height: 1.5;
  padding: 5px 5px 5px 0px;
}

#playlist-metadata a {
  text-decoration: none;
}

#currentsong-metadata {
  height: 100%;
  border-right: solid;
  border-color: #77b300;
  font-size: 150%;
  line-height: 1.5;
    padding: 5px;
}

#currentsong-metadata a {
  text-decoration: none;
}

#grabtrack {
  height: 100%;
  border-right: solid;
  border-color: #77b300;
  cursor: pointer;
  font-size: 150%;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 75px;
  a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    border: 0;
    line-height: 75px;
  }
}

#vote {
  height: 100%;
  cursor: pointer;
  font-size: 150%;
  text-align: center;
  padding: 0;
  border-right: solid;
  border-color: #77b300;
  a {
    text-decoration: none;
  }
}


#waitlist {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 15%;
  line-height: 75px;
  font-size: 200%;
  text-align: center;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}
