
// Nav
//

@import './Userbit/Userbit';

#tr-nav {

}

.navbar {
  margin-bottom: 1px;
  background-color: #0c0c0e;
}

.navbar-header {

}

.navbar-default {
  background-color: 0A0A0A;
}

.navbar-brand {
  position: relative;
  left: 10px;
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  vertical-align: baseline;
}

//Trees Radio Logo Color
.navbar-default .navbar-brand {
  color: #77b300; // old color = 77b300
}

.collapse {

}

#nav-about {

}

#nav-divider {

}

#emailpassfields  {
  margin-top: 7px;
}

#loginbutton{
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius:0;

}

#regbutton {
  margin-top: 7px;
  margin-right: 10px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius:0;

}

#logoutbutton {
  margin-top: 6px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius:0;

}

#usernametop {
  margin-right: 0;
  margin-top: 6px;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
  border-radius:0;

}

#usernamedropdown {
  margin-left: 0;
  margin-right: 5px;
  margin-top: 6px;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 2.25px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  font-size: 110%;
  border-radius:0;

}

#emailbox {
  margin-right: 5px;
}
