
// Nav
//

#tr-nav {

}

.navbar {
  margin-bottom: 1px;
}

.navbar-header {

}

.navbar-default {
  background-color: black;
}

.navbar-brand {
  position: relative;
  left: 10px;
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  vertical-align: baseline;
}

.collapse {

}

#nav-about {

}

#nav-divider {
  background-color: $trees-primary;
  height: 5px;
}

#emailpassfields  {
  margin-top: 7px;
}

#loginbutton{
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#regbutton {
  margin-top: 7px;
  margin-right: 10px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#logoutbutton {
  margin-top: 6px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#usernametop {
  margin-right: 0;
  margin-top: 6px;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 1px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
  letter-spacing: 1.5px;
  font-size: 110%;
}

#usernamedropdown {
  margin-left: 0;
  margin-right: 5px;
  margin-top: 6px;
  text-shadow: 1.5px 0 0 #000000, -1.25px 0 0 #000000, 0 2.25px 0 #000000, 0 -1.25px 0 #000000, 1.25px 1.25px #000000, -1.25px -1.25px 0 #000000, 1.25px -1.25px 0 #000000, -1.25px 1.25px 0 #000000;
    font-size: 110%;
}

#emailbox {
  margin-right: 5px;
}
