.waitlist-item {
  width: 100%;
  list-style-position: inside;
  list-style-type: none;
  display: flex;
  padding-top: 2%;
  padding-left: 2%;
}

.waitlist-avatar {
  width: 10%;
  max-width: 10%;
  cursor: pointer;
}

.waitlist-avatarimg {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.waitlist-name-top {
  width: 80%;
  max-width: 80%;
  padding-top: 2.5%;
  padding-left: 2.5%;
  font-size: 22px;
  line-height: 1vw;
  cursor: pointer;
}

.waitlist-list {
  padding: 0;
}

.waitlist-position {
  width: 10%;
  max-width: 10%;
  margin-top: .25vw;
  font-size: 22px;
}



.waitlist-line-1 {
  background-color: #0A0A0A; //light skin cbd6dc
  padding: 10px;
}

.waitlist-line-0 {
  background-color: #121317; //light skin e9eef0
  padding: 10px;
}
