
$videotoplevel-bg: #171717;

#videotoplevel {
  height: 100%;
  background-color: black;
  padding: 0;
}


/////////////////////////////// OLD SHIT FOR SIZING VIDEO (please dont delete)
// #youtube-player {
//   width: 100%;  //fullscreen = 102% + small = 40%
//   height: 100%;  //fulscreen = 95% + small = 39%
//   position: absolute;
//   top: 49%;  //fullscreen = 49% + small = 20%
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
//
// #youtube-player-sm {
//   width: 39%;  //fullscreen = 102% + small = 40%
//   height: 39%;  //fulscreen = 95% + small = 39%
//   position: absolute;
//   top: 23%;  //fullscreen = 49% + small = 23%
//   left: 50%;
//   transform: translate(-50%, -50%);
// }


// NEW SHIT FOR SIZING VIDEO

@media (min-height: 0px) {
#player-size {
  height: 85vh; //any less/more will cause black bars on most videos instead of a few (when video is playing only).
  width: 100%;
}
}

@media (min-height: 1116px) {
#player-size {
  height: 86.15vh; //any less/more will cause black bars on most videos instead of a few (when video is playing only).
  width: 100%;
}
}

#playerdiv {

}

#vidcontainer {
  height: 90%;
  max-height: 90%;
  width: 100%;
  position: relative;
  background-image: url('img/spacepineapples.jpg');
  background-size:cover;
}

.reactplayer {

}

#reactplayerid {

}

.section-divider {
  background-color: $trees-primary;
  height: 5px;
  width: 100%;
}
