#joinwaitlist-container {
  background-color: #0A0A0A;
  height: 10%;
  max-height: 10%;
  width: 10%;
  max-width: 20px;
}

#joinwaitlist-bar {
  width: 15%;
  height: 80px;
  background-color: #0A0A0A;
  border-radius: 10px;
  bottom: 0;
  right: 0;
}
